/*================ Font Variables ================*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900;1000&display=swap');

// Font Family
$primary-font: 'Nunito Sans', sans-serif;

// Colors
$white: #fff;
$black: #080808;
$purple: #3d1050;
$green: #00a98f;
$dark-gray: #4D4D4D;
$gray: #F5F3F6;
$dark-green: #025244;
$meduim-gray: #ccc;
$very-dark-gray: #545b62;
$light-green: #eff9f7;
$blue: #0056b3;
$light-blue: #e9ecef;
$light-gray:#4D4D4D;
$dark-purple: #38154d;


// Device Width
$breakpoints: (
	"desktop": 1800px,
	"medium-desktop": 1499px,
	"mini-desktop": 1399px,
	"laptop": 1199px,
	"ipad-landscape": 1024px,
	"ipad-portrait": 991px,
	"mobile-big": 767px,
	"mobile-small": 575px,
);
