.btn {
    border: 2px solid $purple;
    background-color: $purple;
    color: $white;
    display: inline-block !important;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.3px;
    padding: 10px 32px;
    position: relative;
    text-decoration: none;
    text-align: center;
    text-transform: initial;
    transition: all 0.3s linear !important;
    -moz-transition: all 0.3s linear !important;
    -webkit-transition: all 0.2s linear !important;
    -o-transition: all 0.3s linear !important;
    @include borderRadius(50px);

    &:hover {
        background-color: $green;
        border-color: $green;
        color: $white;
    }
    
    &:focus {
        box-shadow: none;
    }
    
    &.btn-secondary {
        background-color: transparent;
        border-color: $purple;
        color: $purple;
    
        &:hover {
            background-color: $green;
            border-color: $green;
            color: $white;
        }
    } 
    
    &.btn-link {
        background-color: transparent;
        color: #121212;
        border: none;
        padding: 0;
    
        &:hover {
            color: #121212;
            text-decoration: underline;
        }
    }

    &.btn-green {
        background-color: $green;
        border-color: $green;

        &:hover {
            background-color: transparent;
            color: $purple;
            border-color: $purple;
        }
    }
 
}

.bg-purple, .bg-green {
    .btn {
        background-color: $white;
        border-color: $white;
        color: $purple;

        &:hover {
            background-color: $green;
            color: $white;
            border-color: $green;
        }
        &.btn-secondary {
            background-color: transparent;
            border-color: $white;
            color: $white;
        
            &:hover {
                background-color: $green;
                border-color: $green;
                color: $white;
            }
        }
        &.btn-green {
            background-color: $white;
            border-color: $white;
            color: $purple;
    
            &:hover {
                background-color: $green;
                color: $white;
                border-color: $green;
            }
        }
    }
}