//Hello Team, Asset, Invoice, Loans, Vehicle finance form
.send-message-form {
    .container {
        @include responsive (mobile-big, max) {
            padding: 0 30px !important;
        }
    }
}

.cta-form {
    .forminator-custom-form {
        padding: 110px 255px !important;

        @include responsive (laptop, max) {
            padding: 80px 185px !important;
        }

        @include responsive (ipad-portrait, max) {
            padding: 60px 85px !important;
        }

        @include responsive (mobile-big, max) {
            padding: 50px 20px !important;
        }

        .forminator-row {
            margin-bottom: 24px !important;
            &.forminator-row-last {
                margin-bottom: 0 !important;
            }
            .forminator-col {
                padding: 0 10px !important;
                .forminator-field {
                    .forminator-label {
                        font-weight: 600 !important;
                        line-height: 22px;
                        font-family: $primary-font !important;
                        padding-bottom: 7px;
                        border-bottom: 2px solid $purple;
                        @include responsive (mobile-big, max) {
                            font-size: 15px !important;
                            line-height: 22px;
                            padding-bottom: 5px;
                        }
                    }

                    .forminator-input {
                        border: none;
                        line-height: 18px;
                        font-family: $primary-font !important;
                        padding: 10px 0 10px 0;
                        @include responsive (mobile-big, max) {
                            font-size: 15px !important;
                            line-height: 15px;
                        }
                    }

                    .forminator-error-message {
                        font-family: $primary-font !important;
                        font-style: italic;
                        padding: 0;
                        margin-top: 0;
                        margin-bottom: 10px;
                        line-height: 20px;
                    }

                    .forminator-select {
                        .selection {
                            .select2-selection {
                                border: none !important;
                                .select2-selection__rendered {
                                    font-family: $primary-font !important;
                                    padding: 0 !important;
                                    color: $green !important;
                                    @include responsive (mobile-big, max) {
                                        font-size: 15px !important;
                                    }

                                    .select2-selection__placeholder {
                                        color: #cabdcd;
                                    }
                                }

                                .select2-selection__arrow {
                                    @include justify-content(end);
                                    .forminator-icon-chevron-down {
                                        margin: 0 !important;
                                    }
                                }
                            }
                        }
                    }

                    .forminator-textarea {
                        border: none;
                        font-family: $primary-font !important;
                        padding: 10px 0 10px 0;
                        height: 235px;
                        resize: none;
                        line-height: 33px;
                        @include responsive (mobile-big, max) {
                            font-size: 15px !important;
                            height: 165px;
                        }
                    }

                    .forminator-button-submit {
                        padding: 15px 41px;
                        margin-bottom: 15px;
                        font-family: $primary-font !important;
                        line-height: 15px;
                        letter-spacing: normal;
                        @include borderRadius(50px);
                        &:hover {
                            box-shadow: none;
                        }

                        @media only screen and (max-width: 782px) {
                            width: auto !important;
                        }
                        @include responsive (mobile-big, max) {
                            font-size: 14px !important;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }

    .thankyou-msg-cta {
        background-color: $light-green;
        padding: 110px 240px;
        font-size: 24px;
        line-height: 32px;
        a {
            color: $purple;
            text-decoration: none;
            &:hover {
                color: $blue;
            }
        }

        @include responsive (mini-desktop, max) {
            padding: 90px 160px;
        }

        @include responsive (laptop, max) {
            padding: 70px 140px;
        }

        @include responsive (ipad-portrait, max) {
            padding: 55px 110px;
        }

        @include responsive (mobile-big, max) {
            padding: 40px 30px;
        }
    }
}

.select2-container {
    .forminator-select-dropdown {
        padding: 0 !important;
        .select2-results {
            .select2-results__options {
                max-height: 100% !important;
                font-family: $primary-font !important;
                box-shadow: 0 2px 10px -6px rgba(0,0,0,.5) !important;
                li {
                    padding: 9px 5px !important;
                }
            }
        }
    }
}

//Contact form
.contact-form {
    .forminator-custom-form {
        padding: 110px 185px !important;
        margin-bottom: 0 !important;

        @include responsive (laptop, max) {
            padding: 90px 135px !important;
        }

        @include responsive (ipad-portrait, max) {
            padding: 70px 85px !important;
        }

        @include responsive (mobile-big, max) {
            padding: 50px 45px !important;
        }

        .forminator-row {
            margin-bottom: 52px !important;
            @media only screen and (max-width: 782px) {
                margin-bottom: 0px !important;
            }

            &.forminator-row-last {
                margin-bottom: 0 !important;
            }

            .forminator-col {
                @media only screen and (max-width: 782px) {
                    margin-bottom: 20px !important;
                }
            }

            .forminator-field {
                .forminator-label {
                    font-weight: 600 !important;
                    line-height: 22px;
                    font-family: $primary-font !important;
                    padding-bottom: 5px;
                    border-bottom: 2px solid $purple;
                    @include responsive (mobile-big, max) {
                        font-size: 15px !important;
                    }
                }

                .forminator-input {
                    border: none;
                    line-height: 18px;
                    font-family: $primary-font !important;
                    padding: 10px 0 40px 0;
                    @include responsive (mobile-big, max) {
                        font-size: 15px !important;
                        line-height: 15px !important;
                    }
                }

                .forminator-error-message {
                    font-family: $primary-font !important;
                    font-style: italic;
                    padding: 0;
                    margin-top: 0;
                    margin-bottom: 20px;
                    line-height: 20px;
                }

                .forminator-select {
                    .selection {
                        .select2-selection {
                            border: none !important;
                            background-color: $white !important;
                            margin-bottom: 26px !important;
                            @media only screen and (max-width: 782px) {
                                margin-bottom: 52px !important;
                            }
                            .select2-selection__rendered {
                                font-family: $primary-font !important;
                                padding-left: 0px !important;
                                color: $green !important;

                                @include responsive (mobile-big, max) {
                                    font-size: 15px !important;
                                }

                                .select2-selection__placeholder {
                                    color: #cabdcd;
                                }
                            }

                            .select2-selection__arrow {
                                @include justify-content(end);
                                .forminator-icon-chevron-down {
                                    margin: 0 !important;
                                }
                            }
                        }
                    }
                }

                .forminator-textarea {
                    border: none;
                    font-family: $primary-font !important;
                    padding: 15px 0 40px 0;
                    height: 235px;
                    resize: none;
                    line-height: 33px;

                    @include responsive (mobile-big, max) {
                        height: 185px;
                        font-size: 15px !important;
                    }
                }

                .forminator-button-submit {
                    padding: 13px 24px;
                    font-family: $primary-font !important;
                    line-height: 15px;
                    margin-top: 10px;
                    letter-spacing: normal;
                    @include borderRadius(50px);
                    background-color: $green !important;
                    @media only screen and (max-width: 782px) {
                        width: auto !important;
                    }

                    @include responsive (mobile-big, max) {
                        font-size: 14px !important;
                        line-height: 14px;
                        padding: 11px 24px;
                    }

                    &:hover {
                        box-shadow: none;
                        background-color: $dark-green !important;
                    }
                }
            }
        }
    }

    .thankyou-msg-contact {
        background-color: $white;
        padding: 110px 170px;
        font-size: 24px;
        line-height: 32px;

        @include responsive (ipad-portrait, max) {
            padding: 90px 110px;
        }

        @include responsive (mobile-big, max) {
            padding: 60px 80px;
        }

        @media (max-width: 575px) {
            padding: 40px 30px;
        }
    }
}

//Resources popup form
.popup-form {
    .modal-dialog {
        max-width: 740px;
        margin-top: 40px;
        transform: translateY(-50%) !important;
        top: 50%;
		@include responsive (ipad-portrait, max) {
			max-width: 700px;
		}
        @include responsive (mobile-big, max) {
            height: 400px;
            overflow: hidden;
        }
        @media (max-height: 400px) {
            height: 250px;
        }
		.modal-content {
            @include responsive (mobile-big, max) {
                overflow: scroll;
                height: 100%;
            }
            @media (max-height: 400px) {
                overflow: scroll;
                height: 100%;
            }
			.modal-header {
				border: none;
				.modal-title {
					font-size: 20px;
					font-weight: 400;
					line-height: 1.5;
				}

				.btn-close {
					font-size: 11px;
					font-weight: 700;
					line-height: 1;
				}
			}

			.modal-body {
				padding: 30px 45px;
				.col {
					margin-bottom: 0 !important;
				}
				.resource-popup-form {
					.forminator-custom-form {
						margin-bottom: 0 !important;
						.forminator-row {
							margin-bottom: 24px !important;
							text-align: start !important;
							&:last-of-type {
								margin-bottom: 0 !important;
							}
							.forminator-field {
								.forminator-label {
									font-weight: 600 !important;
									line-height: 22px;
									font-family: $primary-font !important;
									padding-bottom: 5px;
									border-bottom: 2px solid $purple;
                                    @include responsive (mobile-big, max) {
                                        font-size: 15px !important;
                                    }
								}

								.forminator-input {
									border: none;
									line-height: 18px;
									font-family: $primary-font !important;
									padding: 10px 0 40px 0;
                                    @include responsive (mobile-big, max) {
                                        font-size: 15px !important;
                                        line-height: 15px !important;
                                    }
								}

								.forminator-error-message {
									font-family: $primary-font !important;
									font-style: italic;
									padding: 0;
									margin-top: 0;
									margin-bottom: 20px;
									line-height: 20px;
								}

								.forminator-button-submit {
									padding: 13px 24px;
									font-family: $primary-font !important;
									font-size: 15px;
									line-height: 15px;
									margin-top: 3px;
									letter-spacing: normal;
									@include borderRadius(50px);
									background-color: $green !important;
                                    @media only screen and (max-width: 782px) {
                                        width: auto !important;
                                    }

                                    @include responsive (mobile-big, max) {
                                        font-size: 14px !important;
                                        line-height: 14px;
                                        padding: 11px 24px;
                                    }
									&:hover {
										box-shadow: none;
										background-color: $dark-green !important;
									}
								}
							}
						}
					}
				}

				.thankyou-msg {
					font-size: 24px;
					line-height: 32px;
					text-align: start;
				}
			}
		}

    }
}

//BDT Enquiry Form
.bdt-filter-block {
    .popup-form {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    border: none;
                    .modal-title {
                        font-size: 20px;
                        line-height: 1.5;
                        font-weight: 400;
                    }

                    .btn-close {
                        font-size: 11px;
                        font-weight: 700;
                        line-height: 1;
                    }
                }

                .modal-body {
                    padding: 30px 45px;
					@include responsive (mobile-big,max) {
						padding: 20px 30px;
					}
                    .bdt-popup-form {
                        .forminator-custom-form {
                            margin-bottom: 0 !important;
                            .forminator-row {
                                margin-bottom: 24px !important;
                                text-align: start !important;
								&:last-of-type {
									margin-bottom: 0 !important;
								}
                                .forminator-field {
                                    .forminator-label {
                                        font-weight: 600 !important;
                                        line-height: 22px;
                                        font-family: $primary-font !important;
                                        padding-bottom: 5px;
                                        border-bottom: 2px solid $purple;
                                        @include responsive (mobile-big, max) {
                                            font-size: 15px !important;
                                        }
                                    }

                                    .forminator-input {
                                        border: none;
                                        line-height: 18px;
                                        font-family: $primary-font !important;
                                        padding: 10px 0 40px 0;
                                        @include responsive (mobile-big, max) {
                                            font-size: 15px !important;
                                            line-height: 15px !important;
                                        }
                                    }

                                    .forminator-error-message {
										font-size: 12px !important;
                                        font-family: $primary-font !important;
                                        font-style: italic;
                                        padding: 0;
                                        margin-top: 0;
                                        margin-bottom: 20px;
                                        line-height: 20px;
                                    }

                                    .forminator-textarea {
                                        border: none;
                                        font-family: $primary-font !important;
                                        padding: 15px 0 40px 0;
                                        height: 170px;
                                        resize: none;
                                        line-height: 33px;
                                        @include responsive (mobile-big, max) {
                                            font-size: 15px !important;
											height: 150px;
                                        }
                                    }

                                    .forminator-button-submit {
                                        padding: 13px 24px;
                                        font-family: $primary-font !important;
										font-size: 15px;
                                        line-height: 15px;
                                        letter-spacing: normal;
                                        @include borderRadius(50px);
                                        background-color: $green !important;
                                        @media only screen and (max-width: 782px) {
                                            width: auto !important;
                                        }

                                        @include responsive (mobile-big, max) {
                                            font-size: 14px !important;
                                            line-height: 14px;
                                            padding: 11px 24px;
                                        }

                                        &:hover {
                                            box-shadow: none;
                                            background-color: $dark-green !important;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .thankyou-msg-bdt {
                        font-size: 24px;
                        line-height: 32px;
                        font-weight: 400;
                        text-align: start;
                    }
                }
            }
        }
    }
}

//Footer Form
footer {
    .popup-form {
        .footer-popup-form {
            padding: 20px;
            .forminator-row {
                margin-bottom: 18px !important;
                .forminator-col {
                    .forminator-field {
                        &.forminator-merge-tags {
                            color: $green;
                            font-size: 14px;
                        }

                        .forminator-label {
                            margin-top: 8px !important;
                        }

						.forminator-input {
							margin-top: 3px !important;
							padding: 10px !important;
							border: 2px solid #d0d0d0 !important;
						}

						.forminator-checkbox-box {
							border-radius: 3px !important;
						}

                        .forminator-button-submit {
                            font-size: 15px !important;
                            font-weight: 400 !important;
                            padding: 10px 24px;
                        }
                    }
                }
            }
        }

        .form-subscribtion-data {
            h2 {
                font-size: 22px;
                line-height: 28px;
                margin: 0 0 12px 0;
                color: $green;
            }

            p {
                line-height: 150%;
                font-family: Helvetica;
                font-size: 14px;
                color: #00AB8E;
                padding: 0 0 10px 0;
                a {
                    color: $green;
                }
            }

            .thank-you-button {
                margin-top: 25px;
                @include flex;
                align-items: center;
                @media only screen and (max-width: 440px) {
                    display: inline-block;
                }
                .btn {
                    background-color: $green;
                    color: $white;
                    border-color: $green;
                    @include borderRadius (5px);
                    font-weight: 400;
                    padding: 10px 25px;
                    font-size: 15px;
                }

                .or {
                    margin: 0 15px;
                    @media only screen and (max-width: 440px) {
                        margin: 10px 15px;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.select2-container {
    .forminator-select-dropdown {
        .select2-results {
            .select2-results__options {
                li {
                    padding: 0px 15px !important;
                }
            }
        }
    }
}
