.forminator-ui {

    .forminator-row {
        margin-bottom: 14px !important;
        
        .forminator-col {
            @include responsive(mobile-big, max) {
                margin-bottom: 14px !important;
            }
        }

        .error-remove {
            .forminator-error-message {
                display: none !important;
            }
        }
    }

    .forminator-label {
        margin-bottom: 5px !important;
        font-family: $primary-font-light !important;
        font-weight: 400 !important;
    }
    
    .forminator-input, .forminator-textarea {
        @include borderRadius(10px !important);
        
        &::placeholder {
        }
    }
    .forminator-input {
        height: 50px !important;
    }

    .forminator-error-message {
        background-color: transparent !important;
        font-family: $primary-font-light !important;
    }

    .forminator-button {
        @include borderRadius(10px !important);
        padding: 15px 20px !important;
    }
    
    .select2-selection {
        height: 50px !important;
        @include borderRadius(10px !important);
    }

    // Forminator Checkbox
    .forminator-checkbox {
        .forminator-checkbox-box {
            width: 24px !important;
            height: 24px !important;
            flex: 0 0 24px !important;
            background-color: #FBFBFB !important;
            @include borderRadius(100% !important);

            &::before {
                content: "" !important;
                background-color: $green-alt !important;
                width: 14px;
                height: 14px;
                @include borderRadius(100%);
            }
        }

        input:checked {
             + .forminator-checkbox-box {
                border-color: $green-alt !important;
             }
        }
    }

    .forminator-checkbox__label {
        color: $extra-dark-blue !important;
        font-family: $primary-font-light !important;
    }
    
    .forminator-response-message.forminator-loading.forminator-show {
        display: none !important;
    }
}

// Select
.forminator-select {
    &.forminator-select-dropdown-container--open {
        .forminator-select-dropdown {
            &.forminator-dropdown--default {
                overflow: hidden;
                padding: 0 !important;
                background-color: $white;
                border-color: #E6E6E6;
                @include borderRadius(10px);
                @include box-shadow(0 9px 18px rgba(0,0,0,.2));
            }

            .select2-results {
                .select2-results__options {
                    .select2-results__option{
                        line-height: normal !important;
                    }
                }
            }
        }
    }
}
