.modal-open {
    header {
        z-index: 999999;
    }

    footer {
        .modal {
            overflow-x: hidden;
            overflow-y: auto;

            .modal-dialog {
                max-width: 1140px;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-transform: translate(0, -50px);
                transform: translate(0, -50px);
                height: calc(100% - 175px);
                overflow-y: scroll;
                margin: 130px auto 1.75rem;
                border-radius: 0.3rem;
                @include justify-content(center);
                @include transitionAll(0.3s ease-in-out);
                @include responsive (laptop, max) {
                    max-width: 800px;
                }
                @include responsive (ipad-portrait, max) {
                    max-width: 500px;
                    height: 400px;
                    top: 50%; 
                    margin:0 auto 0;
                    transform: translateY(-50%) !important;
                }
                @include responsive (mobile-big, max) {
                    width: 96%;
                    height: 260px; 
                }

                .modal-content {
                    height: 100%;
                    overflow-y: auto;
                }
            }

            &.show {
                .modal-dialog {
                    -webkit-transform: none;
                    transform: none;
                }
            }

            .modal-content {
                background-color: $purple !important;

                .modal-header,
                .modal-body {
                    width: 600px;
                    margin: 0 auto;
                    padding: 1rem 1rem;
                    @include responsive (ipad-portrait, max) {
                        width: 100%;
                        padding: 2rem 2rem;
                    }
                }

                .modal-header {
                    .prs-logo {
                        width: 300px;
                    }
                }
            }
        }
    }

    .modal-backdrop.show {
        background-color: $black;
        z-index: 9999;
    }
}

footer {
    background-color: $purple;
    color: $white;
    padding: 87px 0;
    @include responsive (ipad-portrait, max) {
        padding: 50px 0;
    }
    .container {
        @include responsive (mobile-big, max) {
            padding: 0 30px;
        }
    }

    .modal {
        z-index: 99999;
    }

    .row {
        +.row {
            margin-top: 50px;
        }
    }

    .footer-title {
        color: $green;
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
    }

    .footer-link {
        color: $white;
        font-size: 25px;
        line-height: 33px;
        text-decoration: none;
        margin-bottom: 70px;
        @include responsive (mobile-big, max) {
            margin-bottom: 50px;
        }
    }

    .btn {
        &.btn-link {
            border-bottom: 1px solid rgba(255, 255, 255, .5);
            color: $white;
            font-size: 15px;
            font-weight: 400;
            padding-bottom: 15px;
            width: 66.66%;
            text-align: left;
            position: relative;
            @include borderRadius(0);
            @include responsive (ipad-portrait, max) {
                width: 100%;
            }

            &::before {
                content: '';
                height: 1px;
                background-color: $white;
                position: absolute;
                width: 40px;
                top: 50%;
                right: 3px;
                opacity: .5;
                @include translateY(-50%);
            }

            &::after {
                content: '';
                height: 8px;
                width: 8px;
                position: absolute;
                right: 3px;
                top: 50%;
                opacity: .5;
                border-right: 1px solid $white;
                border-bottom: 1px solid $white;
                -webkit-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
            }

            &:hover {
                color: $white;
                text-decoration: none;
            }
        }
    }

    .footer-menu-first {
        @include responsive (mobile-big, max) {
            margin-top: 50px;
        }
        .menu {
            list-style: none;
            padding: 0;
            display: block;
            column-count: 2;
            @include responsive (mobile-big, max) {
                margin-bottom: 0;
            }

            li {
                margin-bottom: 10px;

                a {
                    border-bottom: 1px solid transparent;
                    color: $white;
                    font-size: 15px;
                    line-height: 15px;
                    font-weight: 600;
                    padding: 5px 0 4px;
                    text-decoration: none;
                    @include transitionAll(0.5s ease-in-out);

                    &:hover {
                        border-color: rgba(255, 255, 255, .75);
                    }
                }
            }
        }
    }

    .footer-logo {
        @include responsive (mobile-big, max) {
            margin-bottom: 30px;
        }
        .logo {
            width: auto;
            max-height: 67px;
        }
    }

    .footer-address {
        p {
            line-height: 20px;
            font-size: 12px;
            @include responsive (mobile-big, max) {
                margin-bottom: 20px;
                br {
                    display: none;
                }
            }
        }
    }

    .footer-social {
        margin-top: auto;
        @include flex;
        @include align-items(center);

        a {
            img {
                max-height: 20px;
                margin-right: 16px;
            }
        }
    }

    .footer-privacy {
        opacity: 0.5;
        @include responsive (mobile-big, max) {
            margin-top: 50px;
        }

        p {
            line-height: 20px;
            font-size: 12px;
            margin-bottom: 23px;

            a {
                color: $white;
            }
            
            @include responsive (mobile-big, max) {
                br {
                    display: none;
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 2px;
                @include responsive (mobile-big, max) {
                    display: inline-block;
                    margin-right: 20px;
                    margin-bottom: 0;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                @media screen and (max-width: 374px) {
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                }

                a {
                    color: $white;
                    text-decoration: none;
                    font-size: 12px;
                }
            }
        }
    }
}
