header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: $white;
    @include box-shadow(0 0 20px -8px rgba(0, 0, 0, .1));

    .container {
        @include responsive(ipad-portrait, max) {
            padding: 0 5px;
        }

        @include responsive(mobile-big, max) {
            padding: 0 30px;
        }
    }

    // Header logo
    .main-logo {
        img {
            width: auto;
            height: 67px;

            @include responsive(laptop, max) {
                height: 45px;
            }
        }
    }

    // Header Button
    .header-btn {
        @include responsive(laptop, max) {
            margin-left: auto;
        }

        .search-icon {
            width: 19px;
            margin-left: 20px;
            margin-right: 4px;

            @include responsive(mini-desktop, max) {
                width: 17px;
                margin-left: 12px;
                margin-right: 5px;
            }

            @include responsive(laptop, max) {
                width: 19px;
                margin-left: 0;
                margin-right: 0;
                margin-top: -3px;
            }
        }

        .btn {
            padding: 6px 24px 8px 24px;
            font-size: 15px;
            line-height: 16px;
            font-weight: 400;
            margin-left: 8px;
            letter-spacing: 0;

            @include responsive(mini-desktop, max) {
                padding: 7px 18px 7px 18px;
                font-size: 14px;
            }

            @include responsive(laptop, max) {
                display: none !important;
            }
        }
    }

    // Navigation
    nav.navbar {
        padding: 0;

        @include responsive(laptop, max) {
            margin: 18.5px auto 18.5px 0;
            min-height: 45px;
        }

        .header-menu {
            @include responsive(laptop, max) {
                order: 3;
            }

            .navbar-nav {
                @media (min-width: 1200px) {
                    flex-direction: row;
                }

                >.menu-item {
                    margin-right: 6px;
                    position: relative;

                    @include responsive(laptop, max) {
                        margin: 0;
                        padding: 11px 0 7px;

                        &:before {
                            content: "";
                            border-bottom: 2px solid $white;
                            width: 100%;
                            position: relative;
                            display: block;
                            top: 45px;
                        }
                    }

                    &:last-child {
                        margin: 0;

                        @include responsive(laptop, max) {
                            border: none;
                        }
                    }

                    >a {
                        color: $purple;
                        font-size: 15px;
                        line-height: 25px;
                        font-weight: 600;
                        padding: 50px 8px;
                        text-decoration: none;

                        @include responsive(mini-desktop, max) {
                            padding-left: 5px;
                            padding-right: 5px;
                        }

                        @include responsive(laptop, max) {
                            color: $white;
                            font-weight: 700;
                            padding: 6px 0;
                        }
                    }

                    &:hover {
                        >.mega-menu-wrapper {
                            opacity: 1;
                            visibility: visible;
                            display: block;
                        }
                    }

                    .mobile-icon {
                        display: none;
                        position: absolute;
                        right: 0;
                        top: 25px;
                        width: 20px;
                        height: 20px;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 4px;
                            border-right: 1px solid $white;
                            border-bottom: 1px solid $white;
                            height: 8px;
                            width: 8px;
                            @include rotate(45deg);
                        }

                        @include responsive(laptop, max) {
                            display: block;
                        }
                    }

                    &.show {
                        .mega-menu-wrapper {
                            @include responsive(laptop, max) {
                                display: block !important;
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        &:before {
                            @include responsive(laptop, max) {
                                border-color: $green;
                            }
                        }

                        .mobile-icon {
                            &::after {
                                -webkit-transform: translateY(3px) rotate(225deg);
                                transform: translateY(3px) rotate(225deg);
                            }
                        }
                    }
                }

                // Mega Menu Wrapper
                .mega-menu-wrapper {
                    opacity: 1;
                    visibility: visible;
                    background-color: $white;
                    left: -10px;
                    width: 218px;
                    padding: 0;
                    position: absolute;
                    margin: 0;
                    display: none;
                    @include transitionAll(0.2s ease-in-out);
                    @include box-shadow(4px 0 20px -8px rgba(0, 0, 0, .05));

                    @include responsive(laptop, max) {
                        position: relative;
                        left: 0;
                        width: 100%;
                        background-color: transparent;
                        padding: 29px 0 12px 0 !important;
                        display: none !important;
                        opacity: 1;
                        visibility: visible;
                        margin: 0 !important;
                        height: auto !important;
                        -webkit-transition: .0s ease-in-out;
                        transition: .0s ease-in-out;
                        @include box-shadow(none);
                    }

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {
                            border-bottom: 1px solid $light-blue;

                            @include responsive(laptop, max) {
                                border: 0;
                            }

                            &:last-child {
                                border: 0;
                            }

                            &.current-menu-item,
                            &.current_page_item {
                                a {
                                    color: $dark-purple;
                                }
                            }

                            a {
                                font-size: 15px;
                                line-height: 22px;
                                white-space: normal;
                                padding: 15px 25px;
                                font-weight: 600;
                                text-decoration: none;
                                color: $dark-gray;
                                width: 100%;

                                @include responsive(laptop, max) {
                                    color: $white !important;
                                    padding: 8px 0;

                                    &:hover {
                                        color: $green !important;
                                    }
                                }

                                &:hover {
                                    color: $dark-purple;
                                }
                            }
                        }
                    }
                }
            }

            .btn {
                display: none !important;
                padding: 6px 24px 8px 24px;
                font-size: 15px;
                line-height: 16px;
                font-weight: 400;
                letter-spacing: 0;
                margin: 50px 8px 0 0;

                @include responsive(laptop, max) {
                    display: inline-block !important;
                }
            }
        }
    }

    // navbar toggle
    .navbar-toggler {
        width: 22px;
        height: 14px;
        padding: 0;
        display: inline-flex;
        position: relative;
        top: -4px;
        margin-left: 17px;
        z-index: 99;
        @include align-items(center);

        &:hover {
            opacity: .7;
        }

        &:hover,
        &:focus {
            outline: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }

        &.collapsed {
            .navbar-toggler-line {
                background-color: $purple !important;

                &:before,
                &:after {
                    background-color: $purple !important;
                }
            }
        }

        .navbar-toggler-line {
            width: 100%;
            height: 2px;
            background-color: transparent !important;
            position: relative;
            @include borderRadius(0px);


            &:before,
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: $white !important;
                position: absolute;
                left: 0;
                @include borderRadius(0px);
            }

            &:before {
                top: -7px;
            }

            &:after {
                top: 7px;
            }
        }

        &:not(.collapsed) {
            .navbar-toggler-line {
                background-color: transparent;

                &:before {
                    top: 0;
                    @include rotate(45deg);
                }

                &:after {
                    top: 0;
                    @include rotate(-45deg);
                }
            }
        }
    }

    // mobile menu
    .navbar-collapse {
        @include responsive(laptop, max) {
            position: fixed;
            padding: 95px 25px 100px;
            top: -100% !important;
            left: 0;
            width: 100%;
            z-index: 9;
            height: 100vh !important;
            overflow-y: auto;
            background-color: $purple;
            display: block !important;
            @include transitionAll(0.5s);
        }
    }

    // Header Center
    .header-center {
        padding: 70px 0;
        border-top: 1px solid #eeeeee;
    }
}

.show-menu {
    overflow: hidden;

    body {
        overflow: hidden;
    }

    header {
        .navbar-collapse {
            top: 0 !important;
        }
    }
}

// header popup
.timefinance-search-popup.mfp-bg {
    z-index: 2 !important;
    opacity: 0 !important;
    transition: all 0.2s;
    background-color: transparent;
    position: fixed !important;
}

.timefinance-search-popup {
    ~.mfp-wrap {
        opacity: 0;
        transition: all 0.3s;
        transform: translateY(-200px);
        z-index: 2 !important;
        position: fixed !important;
        top: 0 !important;

        button.mfp-close {
            top: 135px;
            right: 10px;

            @include responsive(laptop, max) {
                top: 85px;
            }
        }
    }

    &.mfp-ready {
        ~.mfp-wrap {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.timefinance-search-popup {
    background-color: $purple;

    &.mfp-ready {
        .search-form-result {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .search-form-result {
        @include flex;
        @include justify-content(center);
        opacity: 0;
        transition: all 0.2s;
        transform: translateY(-100px);

        .search-form {
            padding-bottom: 10px;
            border-bottom: 2px solid $white;
            opacity: 0.2;
            width: 800px;
            @include flex;
            @include justify-content(space-between);

            @include responsive(ipad-portrait, max) {
                padding-bottom: 12px;
                max-width: calc(100% - 60px);
                height: 36px;
            }

            &.lighten {
                opacity: 1;

                .search-input {
                    &::-webkit-input-placeholder {
                        color: $white;
                        opacity: 0.4;
                    }

                    &:-ms-input-placeholder {
                        color: $white;
                        opacity: 0.4;
                    }

                    &::placeholder {
                        color: $white;
                        opacity: 0.4;
                    }
                }
            }

            .search-input {
                background-color: $purple;
                color: $white;
                font-size: 40px;
                line-height: 40px;
                border: none;
                font-weight: 700;
                vertical-align: middle;
                width: 92%;
                padding: 2px 0;

                @include responsive(ipad-portrait, max) {
                    font-size: 24px;
                    line-height: 24px;
                    margin: -10px 0;
                    padding: 10px 0;
                    width: calc(100% - 44px);
                }

                &:focus-visible {
                    outline-offset: 0px;
                    box-shadow: none;
                    border: 0;
                    outline: 0;
                }
            }

            .search-button {
                background-color: transparent;
                border: none;
                vertical-align: middle;

                img {
                    filter: brightness(0) invert(1);
                    height: 31px;
                    width: 31px;

                    @include responsive(ipad-portrait, max) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

// Homepage hero
.homepage-hero {
    position: relative;
    padding: 0;
    height: calc(100vh - 125px);
    margin-top: 125px;
    overflow: hidden;

    .section-title {
        margin-top: 40px;
        opacity: 0;
        margin-bottom: 0;
        @include translateX(-65px);
        @include transitionAll(0.3s ease-in-out);
    }

    p {
        margin-top: 25px;
        width: 80%;
        opacity: 0;
        @include translateX(-65px);
        @include transitionAll(0.3s ease-in-out);
    }

    .btn-link {
        color: $white;
        font-weight: 600;
        font-size: 18px;
        margin-top: 3rem;
        padding-bottom: 7px;
        opacity: 0;
        @include translateX(-65px);
        @include transitionAll(0.4s ease-in-out !important);

        &:hover {
            text-decoration: none;
            color: $white;
        }

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $white;
        }
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .background-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        z-index: 2;
    }

    .swiper-slide {
        .swiper-slide-warp {
            height: calc(100vh - 110px);
            width: 100%;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            overflow: hidden;
            margin-right: -100% !important;
            -webkit-transform: none !important;
            transform: none !important;
            pointer-events: none;
            padding: 0 calc(50% - 580px);
            @include flex;

            .slider-container {
                z-index: 3;
                padding: 0 0 200px 0;
                max-width: 491px;
                float: right;
                color: $white;
            }

            .hero-container {
                width: calc(50% + 725px - 491px);
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    -o-object-fit: cover;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    @include scale(1.4);
                    @include transitionAll(.4s ease-in-out);
                }
            }
        }

        &.swiper-slide-active {
            .swiper-slide-warp {
                pointer-events: all;
            }

            .hero-container {
                img {
                    opacity: 1;
                    @include transitionAll(1.5s ease-in-out);
                    @include scale(1.1);
                }
            }

            .section-title {
                opacity: 1;
                will-change: opacity, transform;
                -webkit-transition-delay: .3s;
                transition-delay: .3s;
                @include translateX(0);
            }

            p {
                opacity: 1;
                will-change: opacity, transform;
                -webkit-transition-delay: .2s;
                transition-delay: .2s;
                @include translateX(0);
            }

            .btn-link {
                opacity: 1;
                will-change: opacity, transform;
                -webkit-transition-delay: .3s;
                transition-delay: .3s;
                @include translateX(0);
            }
        }

        &:not(.swiper-slide-active) {
            .hero-container {
                z-index: 2;
            }

        }
    }

    .carousel-indicators-wrapper {
        position: relative;
        left: 10px;
        width: 100%;
        bottom: 120px;
        max-width: 1200px;
        margin: 0 auto;
        right: 0;
        z-index: 99;

        .swiper-pagination {
            position: relative;
            margin: 0;
            width: 50% !important;
            text-align: left;
            float: left;
            bottom: 0;

            .swiper-pagination-bullet {
                border-radius: 0;
                box-sizing: content-box;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                width: 60px;
                height: 3px;
                margin: auto 10px 0 0 !important;
                text-indent: -999px;
                cursor: pointer;
                background-clip: padding-box;
                transition: opacity .6s ease;
                height: 2px;
                background: 0 0;
                position: relative;

                &:before {
                    content: '';
                    height: 1px;
                    width: 100%;
                    background-color: rgba(255, 255, 255, .5);
                    position: absolute;
                    display: block;
                    top: calc(50% - 0.5px);
                    left: 0;
                    z-index: 1;
                }

                &.swiper-pagination-bullet-active {
                    background-color: $green;
                }
            }
        }

        .scroll-more {
            float: right;
            position: relative;
            margin-right: 7px;

            a {
                padding-right: 55px;
                margin: auto 0 auto auto;
                -webkit-box-flex: 0;
                -ms-flex-positive: 0;
                flex-grow: 0;
                color: $white;
                height: 12px;
                font-size: 12px;
                line-height: 12px;
                text-decoration: none;

                .arrow-head {
                    height: 10px;
                    width: 10px;
                    position: absolute;
                    bottom: 4px;
                    right: 20px;
                    display: block;
                    border-bottom: 1px solid $white;
                    border-right: 1px solid $white;
                    -webkit-animation: bounce-arrow-head 1s 0s infinite;
                    animation: bounce-arrow-head 1s 0s infinite;
                }

                .arrow-tail {
                    height: 16px;
                    width: 1px;
                    background-color: $white;
                    position: absolute;
                    bottom: 5px;
                    right: 20px;
                    display: block;
                    -webkit-animation: bounce-arrow-tail 1s 0s infinite;
                    animation: bounce-arrow-tail 1s 0s infinite;
                }
            }
        }
    }

    .swiper-number-pagination {
        text-align: left;
        margin-bottom: -7px;

        .swiper-pagination-current {
            color: $white;
            left: 10px;
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
        }
    }
}

@-webkit-keyframes bounce-arrow-head {

    0%,
    100% {
        -webkit-transform: translateX(50%) translateY(-2px) rotate(45deg);
        transform: translateX(50%) translateY(-2px) rotate(45deg)
    }

    50% {
        -webkit-transform: translateX(50%) translateY(0) rotate(45deg);
        transform: translateX(50%) translateY(0) rotate(45deg)
    }
}

@keyframes bounce-arrow-head {

    0%,
    100% {
        -webkit-transform: translateX(50%) translateY(-2px) rotate(45deg);
        transform: translateX(50%) translateY(-2px) rotate(45deg)
    }

    50% {
        -webkit-transform: translateX(50%) translateY(0) rotate(45deg);
        transform: translateX(50%) translateY(0) rotate(45deg)
    }
}

@-webkit-keyframes bounce-arrow-tail {

    0%,
    100% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        height: 16px
    }

    50% {
        -webkit-transform: translateX(50%) translateY(2px);
        transform: translateX(50%) translateY(2px);
        height: 14px
    }
}

@keyframes bounce-arrow-tail {

    0%,
    100% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        height: 16px
    }

    50% {
        -webkit-transform: translateX(50%) translateY(2px);
        transform: translateX(50%) translateY(2px);
        height: 14px
    }
}

// Case study block
.case-study-block {
    position: relative;
    padding: 312px 0 218px 0;
    background-size: contain;
    background-repeat: no-repeat;

    .swiper {
        margin-left: -130px;
        margin-right: 90px;

        .swiper-slide {
            .row {
                margin-left: 0;
                margin-right: 0;

                >* {
                    padding: 0;

                    &:last-child {
                        background-color: $white;
                    }
                }
            }

            .case-study-left {
                img {
                    height: 600px;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }

            .case-study-right {
                height: auto;
                min-height: 100%;
                padding: 90px 18% 0 17%;

                .brand-logo-image {
                    width: 141px;
                }

                p {
                    color: $purple;
                    font-size: 22px;
                    line-height: 30px;
                    margin-top: 1.5rem;
                }

                .read-more {
                    margin-top: 16px;

                    .btn {
                        font-size: 15px;
                        color: $white;
                        padding: 7px 1.5rem;
                        letter-spacing: 0;

                        &:hover {
                            background-color: $dark-green;
                            border-color: $dark-green;
                            color: $white;
                        }
                    }
                }
            }
        }

        .swiper-pagination-bullet {
            opacity: 1;
            width: 10px;
            height: 10px;
            margin: 0 2px !important;
            border: none;
            border-radius: 50%;
            background-color: $light-gray;

            &.swiper-pagination-bullet-active {
                background-color: $purple;
            }
        }

        .swiper-pagination {
            width: 50% !important;
            right: 0;
            padding-left: 8.3%;
            left: inherit !important;
            text-align: left;
            bottom: 75px;
        }
    }

    .view-all-case-studies {
        text-align: right;
        margin-top: 25px;
        margin-right: 90px;

        a {
            color: $white;
            text-decoration: none;
            font-weight: 600;
        }
    }
}