body {
    padding-top: 125px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: $white;
    @include box-shadow(0 0 20px -8px rgba(0, 0, 0, .1));

    .container {
        @include responsive(ipad-portrait, max) {
            padding: 0;
        }

        .row {
            @include responsive(mobile-small, max) {
                margin: 0;
            }
        }
    }

    // Header logo
    .main-logo {

        @include responsive(ipad-portrait, max) {
            margin-bottom: 30px;
        }

        @include responsive(mobile-big, max) {
            margin-bottom: 0;
        }

        img {
            width: auto;
            height: 67px;

            @include responsive(laptop, max) {
                height: 45px;
            }
        }
    }

    // Header Button
    .header-btn {
        .search-icon {
            width: 19px;
            margin-left: 20px;
            margin-right: 4px;

            @include responsive(mini-desktop, max) {
                width: 17px;
                margin-left: 12px;
                margin-right: 5px;
            }

            @include responsive(laptop, max) {
                width: 19px;
                margin-left: 0;
                margin-right: 0;
                margin-top: -3px;
            }
        }

        .btn {
            padding: 6px 24px 8px 24px;
            font-size: 15px;
            line-height: 16px;
            font-weight: 400;
            margin-left: 8px;
            letter-spacing: 0;

            @include responsive(mini-desktop, max) {
                padding: 7px 18px 7px 18px;
                font-size: 14px;
            }

            @include responsive(laptop, max) {
                display: none !important;
            }
        }
    }

    // Navigation
    nav.navbar {
        padding: 0;

        @include responsive(laptop, max) {
            margin: 18.5px auto 18.5px 0;
            min-height: 45px;
        }

        .navbar-nav {
            @media (min-width: 768px) {
                flex-direction: row;
            }

            >.menu-item {
                margin-right: 6px;
                position: relative;

                @include responsive(mobile-big, max) {
                    margin: 0;
                    border-bottom: 1px solid $white;
                }

                &:last-child {
                    margin: 0;

                    @include responsive(mobile-big, max) {
                        border: none;
                    }
                }

                >a {
                    color: $purple;
                    font-size: 15px;
                    line-height: 25px;
                    font-weight: 600;
                    padding: 50px 8px;
                    text-decoration: none;

                    @include responsive(mini-desktop, max) {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }

                &:hover {
                    .mega-menu-wrapper {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            // Mega Menu Wrapper
            .mega-menu-wrapper {
                opacity: 0;
                visibility: visible;
                @include transitionAll(0.2s ease-in-out);
                @include box-shadow(4px 0 20px -8px rgba(0, 0, 0, .05));
                background-color: $white;
                left: -10px;
                width: 218px;
                padding: 0;
                position: absolute;
                margin: 0;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        border-bottom: 1px solid $light-blue;

                        &:last-child {
                            border: 0;
                        }

                        &.current-menu-item,
                        &.current_page_item {
                            a {
                                color: $dark-purple;
                            }
                        }

                        a {
                            font-size: 15px;
                            line-height: 22px;
                            white-space: normal;
                            padding: 15px 25px;
                            font-weight: 600;
                            color: $purple;
                            text-decoration: none;
                            color: $dark-gray;

                            &:hover {
                                color: $dark-purple;
                            }
                        }
                    }
                }
            }
        }
    }

    // navbar toggle
    .navbar-toggler {
        width: 22px;
        height: 14px;
        padding: 0;
        display: inline-flex;
        position: relative;
        top: -5px;
        @include align-items(center);

        @include responsive(mobile-small, max) {
            left: 20px;
        }

        &:hover,
        &:focus {
            outline: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }

        .navbar-toggler-line {
            width: 100%;
            height: 2px;
            background-color: $purple;
            position: relative;
            @include borderRadius(0px);
            @include transitionAll(0.3s ease-in-out);

            &:before,
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: $purple;
                position: absolute;
                left: 0;
                @include borderRadius(0px);
                @include transitionAll(0.3s ease-in-out);
            }

            &:before {
                top: -7px;
            }

            &:after {
                top: 7px;
            }
        }

        &:not(.collapsed) {
            .navbar-toggler-line {
                background-color: transparent;

                &:before {
                    top: 0;
                    @include rotate(45deg);
                }

                &:after {
                    top: 0;
                    @include rotate(-45deg);
                }
            }
        }
    }

    // mobile menu
    .navbar-collapse {
        @include responsive(mobile-big, max) {
            position: absolute;
            padding: 0 15px;
            top: 83px;
            left: 0;
            width: 60%;
            z-index: 9;
            height: calc(100vh - 83px);
            overflow-y: auto;
            @include transitionAll(0.5s);
        }

        @include responsive(mobile-small, max) {
            width: 70%;
            top: 80px;
            height: calc(100vh - 80px);
        }

        &.collapse:not(.show) {
            @include responsive(mobile-big, max) {
                display: block;
                left: -100%;
            }
        }
    }

    // Header Center
    .header-center {
        padding: 70px 0;
        border-top: 1px solid #eeeeee;
    }
}

// header popup
.timefinance-search-popup.mfp-bg {
    z-index: 2 !important;
    opacity: 0 !important;
}

.timefinance-search-popup {
    ~.mfp-wrap {
        transition: .3s ease-in-out;
        z-index: 2 !important;

        .mfp-container {
            padding-top: 125px;
        }

        button.mfp-close {
            top: 135px;
            right: 10px;
        }
    }
}