header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    background-color: $white;
    @include box-shadow(0 0 20px -8px rgba(0, 0, 0, .1));

    .container {
        @include responsive(ipad-portrait, max) {
            padding: 0 5px;
        }

        @include responsive(mobile-big, max) {
            padding: 0 30px;
        }
    }

    // Header logo
    .main-logo {
        img {
            width: auto;
            height: 67px;

            @include responsive(laptop, max) {
                height: 45px;
            }
        }
    }

    // Header Button
    .header-btn {
        @include responsive(laptop, max) {
            margin-left: auto;
        }

        .search-icon {
            width: 19px;
            margin-left: 20px;
            margin-right: 4px;

            @include responsive(mini-desktop, max) {
                width: 17px;
                margin-left: 12px;
                margin-right: 5px;
            }

            @include responsive(laptop, max) {
                width: 19px;
                margin-left: 0;
                margin-right: 0;
                margin-top: -3px;
            }
        }

        .btn {
            padding: 6px 24px 8px 24px;
            font-size: 15px;
            line-height: 16px;
            font-weight: 400;
            margin-left: 8px;
            letter-spacing: 0;

            @include responsive(mini-desktop, max) {
                padding: 7px 18px 7px 18px;
                font-size: 14px;
            }

            @include responsive(laptop, max) {
                display: none !important;
            }
        }
    }

    // Navigation
    nav.navbar {
        padding: 0;

        @include responsive(laptop, max) {
            margin: 18.5px auto 18.5px 0;
            min-height: 45px;
        }

        .header-menu {
            @include responsive(laptop, max) {
                order: 3;
            }

            .navbar-nav {
                @media (min-width: 1200px) {
                    flex-direction: row;
                }

                >.menu-item {
                    margin-right: 6px;
                    position: relative;

                    @include responsive(laptop, max) {
                        margin: 0;
                        padding: 11px 0 7px;

                        &:before {
                            content: "";
                            border-bottom: 2px solid $white;
                            width: 100%;
                            position: relative;
                            display: block;
                            top: 45px;
                        }
                    }

                    &:last-child {
                        margin: 0;

                        @include responsive(laptop, max) {
                            border: none;
                        }
                    }

                    >a {
                        color: $purple;
                        font-size: 15px;
                        line-height: 25px;
                        font-weight: 600;
                        padding: 50px 8px;
                        text-decoration: none;

                        @include responsive(mini-desktop, max) {
                            padding-left: 5px;
                            padding-right: 5px;
                        }

                        @include responsive(laptop, max) {
                            color: $white;
                            font-weight: 700;
                            padding: 6px 0;
                        }
                    }

                    &:hover {
                        >.mega-menu-wrapper {
                            opacity: 1;
                            visibility: visible;
                            display: block;
                        }
                    }

                    .mobile-icon {
                        display: none;
                        position: absolute;
                        right: 0;
                        top: 25px;
                        width: 20px;
                        height: 20px;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 4px;
                            border-right: 1px solid $white;
                            border-bottom: 1px solid $white;
                            height: 8px;
                            width: 8px;
                            @include rotate(45deg);
                        }

                        @include responsive(laptop, max) {
                            display: block;
                        }
                    }

                    &.show {
                        .mega-menu-wrapper {
                            @include responsive(laptop, max) {
                                display: block !important;
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        &:before {
                            @include responsive(laptop, max) {
                                border-color: $green;
                            }
                        }

                        .mobile-icon {
                            &::after {
                                -webkit-transform: translateY(3px) rotate(225deg);
                                transform: translateY(3px) rotate(225deg);
                            }
                        }
                    }
                }

                // Mega Menu Wrapper
                .mega-menu-wrapper {
                    opacity: 1;
                    visibility: visible;
                    background-color: $white;
                    left: -10px;
                    width: 218px;
                    padding: 0;
                    position: absolute;
                    margin: 0;
                    display: none;
                    @include transitionAll(0.2s ease-in-out);
                    @include box-shadow(4px 0 20px -8px rgba(0, 0, 0, .05));

                    @include responsive(laptop, max) {
                        position: relative;
                        left: 0;
                        width: 100%;
                        background-color: transparent;
                        padding: 29px 0 12px 0 !important;
                        display: none !important;
                        opacity: 1;
                        visibility: visible;
                        margin: 0 !important;
                        height: auto !important;
                        -webkit-transition: .0s ease-in-out;
                        transition: .0s ease-in-out;
                        @include box-shadow(none);
                    }

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {
                            border-bottom: 1px solid $light-blue;

                            @include responsive(laptop, max) {
                                border: 0;
                            }

                            &:last-child {
                                border: 0;
                            }

                            &.current-menu-item,
                            &.current_page_item {
                                a {
                                    color: $dark-purple;
                                }
                            }

                            a {
                                font-size: 15px;
                                line-height: 22px;
                                white-space: normal;
                                padding: 15px 25px;
                                font-weight: 600;
                                text-decoration: none;
                                color: $dark-gray;
                                width: 100%;

                                @include responsive(laptop, max) {
                                    color: $white !important;
                                    padding: 8px 0;

                                    &:hover {
                                        color: $green !important;
                                    }
                                }

                                &:hover {
                                    color: $dark-purple;
                                }
                            }
                        }
                    }
                }
            }

            .btn {
                display: none !important;
                padding: 6px 24px 8px 24px;
                font-size: 15px;
                line-height: 16px;
                font-weight: 400;
                letter-spacing: 0;
                margin: 50px 8px 0 0;

                &:hover {
                    background-color: $dark-green;
                    border-color: $dark-green;
                    color: $white;
                }

                @include responsive(laptop, max) {
                    display: inline-block !important;
                }
            }
        }
    }

    // navbar toggle
    .navbar-toggler {
        width: 22px;
        height: 14px;
        padding: 0;
        display: inline-flex;
        position: relative;
        top: -4px;
        margin-left: 17px;
        z-index: 99;
        @include align-items(center);

        &:hover {
            opacity: .7;
        }

        &:hover,
        &:focus {
            outline: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }

        &.collapsed {
            .navbar-toggler-line {
                background-color: $purple !important;

                &:before,
                &:after {
                    background-color: $purple !important;
                }
            }
        }

        .navbar-toggler-line {
            width: 100%;
            height: 2px;
            background-color: transparent !important;
            position: relative;
            @include borderRadius(0px);


            &:before,
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: $white !important;
                position: absolute;
                left: 0;
                @include borderRadius(0px);
            }

            &:before {
                top: -7px;
            }

            &:after {
                top: 7px;
            }
        }

        &:not(.collapsed) {
            .navbar-toggler-line {
                background-color: transparent;

                &:before {
                    top: 0;
                    @include rotate(45deg);
                }

                &:after {
                    top: 0;
                    @include rotate(-45deg);
                }
            }
        }
    }

    // mobile menu
    .navbar-collapse {
        @include responsive(laptop, max) {
            position: fixed;
            padding: 95px 25px 100px;
            top: -100% !important;
            left: 0;
            width: 100%;
            z-index: 9;
            height: 100% !important;
            overflow-y: auto;
            background-color: $purple;
            display: block !important;
            @include transitionAll(0.5s);
        }
    }

    // Header Center
    .header-center {
        padding: 70px 0;
        border-top: 1px solid #eeeeee;
    }
}

.show-menu {
    overflow: hidden;

    body {
        overflow: hidden;
    }

    header {
        .navbar-collapse {
            top: 0 !important;
        }
    }
}

// header popup
.timefinance-search-popup.mfp-bg {
    z-index: 2 !important;
    opacity: 0 !important;
    transition: all 0.2s;
    background-color: transparent;
    position: fixed !important;
}

.timefinance-search-popup {
    ~.mfp-wrap {
        opacity: 0;
        transition: all 0.3s;
        transform: translateY(-200px);
        z-index: 2 !important;
        position: fixed !important;
        top: 0 !important;

        button.mfp-close {
            top: 135px;
            right: 10px;

            @include responsive(laptop, max) {
                top: 85px;
            }
        }
    }

    &.mfp-ready {
        ~.mfp-wrap {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.timefinance-search-popup {
    background-color: $purple;

    &.mfp-ready {
        .search-form-result {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .search-form-result {
        @include flex;
        @include justify-content(center);
        opacity: 0;
        transition: all 0.2s;
        transform: translateY(-100px);

        .search-form {
            padding-bottom: 10px;
            border-bottom: 2px solid $white;
            opacity: 0.2;
            width: 800px;
            @include flex;
            @include justify-content(space-between);

            @include responsive(ipad-portrait, max) {
                padding-bottom: 12px;
                max-width: calc(100% - 60px);
                height: 36px;
            }

            &.lighten {
                opacity: 1;

                .search-input {
                    &::-webkit-input-placeholder {
                        color: $white;
                        opacity: 0.4;
                    }

                    &:-ms-input-placeholder {
                        color: $white;
                        opacity: 0.4;
                    }

                    &::placeholder {
                        color: $white;
                        opacity: 0.4;
                    }
                }
            }

            .search-input {
                background-color: $purple;
                color: $white;
                font-size: 40px;
                line-height: 40px;
                border: none;
                font-weight: 700;
                vertical-align: middle;
                width: 92%;
                padding: 2px 0;

                @include responsive(ipad-portrait, max) {
                    font-size: 24px;
                    line-height: 24px;
                    margin: -10px 0;
                    padding: 10px 0;
                    width: calc(100% - 44px);
                }

                &:focus-visible {
                    outline-offset: 0px;
                    box-shadow: none;
                    border: 0;
                    outline: 0;
                }
            }

            .search-button {
                background-color: transparent;
                border: none;
                vertical-align: middle;

                img {
                    filter: brightness(0) invert(1);
                    height: 31px;
                    width: 31px;

                    @include responsive(ipad-portrait, max) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

// admin
.admin-bar {
    header {
        top: 32px;

        @include responsive(ipad-portrait, max) {
            top: 46px;
        }
    }
}