//Homepage hero

//Inner page hero small image
.inner-page-hero-small {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 450px;
    z-index: 0;
    .container, .row {
        position: relative;
        height: 100%;
    }
    .bg-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #4AA690;
        opacity: 0.3;
    }
    .section-title {
        font-weight: 800;
        color: $white;
    }
    &.standard-background {
        .btn-link {
            background-color: transparent;
            color: $white;
        
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
    }
}

//Left right content image
.left-right-content-image {
    padding: 60px 0px;
    .image-box {
        padding-left: 40px;
        padding-right: 0px;
    }
    .content {
        padding-left: 7.33%;
        padding-right: 40px;
        .section-title {
            margin-bottom: 25px;
        }
        ul {
            margin: 0;
            padding-left: 40px;
            width: 82%;
            font-size: 16px;
            line-height: 24px;
        }
        .btn {
            margin-top: 25px;
        }
    }
    .flex-sm-row-reverse {
        .image-box {
            padding-left: 0px;
            padding-right: 40px;
        }
        .content {
            padding-left: 10.5%;
            padding-right: 7.33%;
        }
    } 
}

//Trustpilot block
.trustpilot-block {
    .content {
        padding: 0 35px;
        .section-title {
            color: $green;
            font-weight: 600;
            margin-bottom: 35px;
        }
        p {
            font-size: 40px;
            line-height: 50px;
            font-weight: 700;
        }    
    }
    &.bg-purple {
        p{
            color: $white;
        }
    }
}

//Featured content image
.featured-content-image {
    padding: 150px 0 270px 0;
    .content {
        padding-left: 10.5%;
        .section-title {
            font-weight: 600;
            color: $green;
            margin-bottom: 40px;
        }
        p {
            font-size: 40px;
            line-height: 50px;
            font-weight: 700;
            width: 87%;
        }
        .btn {
            margin-top: 30px;
        }
    }
    .image-box {
        padding: 0;
        .featured-image-content {
            margin-right: -8vw;
        }
    }
    &.bg-purple {
        p{
            color: $white;
        }
    }
}