//Homepage hero

//Inner page hero
.inner-page-hero {
    overflow: hidden;
    background-size: auto 125%;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    height: 550px;
    z-index: 0;
    .section-left-image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .container, .row {
        position: relative;
        height: 100%;
    }

    .section-title {
        color: $white;
        font-weight: 800;
        margin-bottom: 33px;
    }

    p {
        color: $white;
        font-size: 18px;
        font-weight: 600;
        width: 35%;
    }

    .btn-link {
        margin-top: 15px;
        background-color: transparent;
        color: $white;
    
        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
}
//Inner page hero small image
.inner-page-hero-small {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 450px;
    z-index: 0;
    .container, .row {
        position: relative;
        height: 100%;
    }

    .bg-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #4AA690;
        opacity: 0.3;
    }

    .section-title {
        font-weight: 800;
        color: $white;
    }

    &.standard-background {
        .btn-link {
            background-color: transparent;
            color: $white;
        
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
    }
}

//Left right content image
.left-right-content-image {
    padding: 60px 0px;
    .image-box {
        padding-left: 40px;
        padding-right: 0px;
    }

    .content {
        padding-left: 7.33%;
        padding-right: 40px;
        .section-title {
            margin-bottom: 25px;
        }

        ul {
            margin: 0;
            padding-left: 40px;
            width: 82%;
            font-size: 16px;
            line-height: 24px;
        }

        .btn {
            margin-top: 25px;
        }
    }

    .flex-sm-row-reverse {
        .image-box {
            padding-left: 0px;
            padding-right: 40px;
        }

        .content {
            padding-left: 10.5%;
            padding-right: 7.33%;
        }
    } 
}

//Trustpilot block
.trustpilot-block {
    .content {
        padding: 0 35px;
        .section-title {
            color: $green;
            font-weight: 600;
            margin-bottom: 35px;
        }

        p {
            font-size: 40px;
            line-height: 50px;
            font-weight: 700;
        }    
    }

    &.bg-purple {
        p{
            color: $white;
        }
    }
}

//Featured content image
.featured-content-image {
    padding: 150px 0 270px 0;
    .content {
        padding-left: 10.5%;
        .section-title {
            font-weight: 600;
            color: $green;
            margin-bottom: 40px;
        }

        p {
            font-size: 40px;
            line-height: 50px;
            font-weight: 700;
            width: 87%;
        }

        .btn {
            margin-top: 30px;
        }
    }

    .image-box {
        padding: 0;
        .featured-image-content {
            margin-left: 0;
            margin-right: -8vw;
        }
    }

    .flex-sm-row-reverse {
        .image-box {
            .featured-image-content {
                margin-left: -8vw;
                margin-right: 0;
            }
        }
    }

    &.bg-purple {
        p{
            color: $white;
        }
    }
}

//Usp block
.usp-block {
    padding: 113px 0;
    .container {
        padding: 0 75px;
        .section-title {
            color: $white;
            line-height: 30px;
            margin-bottom: 80px;
        }
    
        img {
            width: auto;
            height: 179px;
            margin-bottom: 30px;
        }
    
        p {
            color: $white;
            line-height: 21px;
            font-weight: 600;
            width: 91%;
            margin: 0 auto;
        }
    
        &.bg-white, &.bg-grey {
            .section-title {
                color: $green;
            }
    
            p {
                color: $green;
            }
        }
    } 
}

//Image bulletpoint groups
.image-bulletpoint-groups {
    padding: 140px 0;
    background-color: $gray;
    .container {
        padding-left: 0;
        .image-box {
            padding: 0;
            img {
                height: 100%;
            }
        }
        .content-box {
            padding: 90px 7.3% 55px;
            background-color: $white;
            p {
                color: $green;
                font-size: 11px;
                font-weight: 700;
                letter-spacing: 1.1px;
                line-height: 24px;
                width: 90%;
            }

            .bulletpoint-group {
                margin-top: 60px;
                border-bottom: 1px solid rgb(240,240,240);
                .section-title {
                    font-weight: 600;
                }

                .bulletpoints {
                    padding: 0 15px 35px;
                    margin: 0;
                    @include flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    @include justify-content(space-between);
                    li {
                        font-size: 16px;
                        line-height: 28px;
                        font-weight: 600;
                        width: 45%;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

//Video block
.video-block {
    padding: 110px 0;
    .section-title {
        margin-bottom: 35px;
    }

    .youtube-video {
        iframe {
            width: 100%;
            height: 500px;
        }
    }

    & video {
        width: 100%;
        height: 100%;
    }
}

//Centred content image gallery
.centred-content-image-gallery {
    padding: 80px 0;
    .section-title {
        color: $green;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
    p {
        font-size: 16px;
        line-height: 23px;
        font-weight: 600;
        margin-bottom: 60px;
    }

    .logo {
        margin: 38px auto;
    }
}

//Cta block
.cta-block {
    .container {
        padding: 0 20px;
        .image {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 74px 80px 85px 80px;
        }

        .section-title {
            font-weight: 600;
            margin-bottom: 60px;
        }

        .subtitle {
            font-size: 40px;
            line-height: 50px;
            font-weight: 700;
            color: $white;
        }
        
        .apply-send-button {
            margin-top: 75px;
            a {
                margin-right: 10px;
            }

            .btn {
                &:hover {
                    background-color: $white;
                    border-color: $white;
                    color: $purple;
                }
            }
        }
    }
}

//card-block
.card-block {
    padding: 110px 0 160px 0;
    .container {
        padding: 0 20px;
        .section-title {
            margin-bottom: 25px;
        }
        
        .card-box {
            position: relative;

            .card-image {
                height: 345px;
                overflow: hidden;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &:hover {
                .hover-card {
                    max-height:300px; 
                    p {
                        opacity: 1;  
                        @include translateY(0);
                    }
                    .btn {
                        opacity: 1;
                        @include translateY(0);
                    }
                }
            }
            .hover-card {
                padding: 32px;
                background-color: $white;
                position: absolute;
                bottom: -85px;
                overflow: hidden;
                max-height: 85px;
                transition: max-height 0.6s;
                .card-title {
                    font-size: 22px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
        
                p {
                    min-height: 70px;
                    margin-top: 15px;
                    opacity: 0;  
                    @include translateY(30px);
                    @include transitionAll(0.8s); 
                    transition-delay: 0.3s;
                }
        
                .btn {
                    margin-top: 45px;
                    opacity: 0;
                    font-size: 15px;
                    line-height: 15px;
                    letter-spacing: normal;
                    padding: 8px 22px; 
                    font-weight: 400;
                    @include translateY(40px);
                    transition: 0.8s !important; 
                    transition-delay: 0.4s !important;  
                }
            }
        }
    }

    &.bg-white {
        .hover-card {
            background-color: $gray !important;
        }
    } 
    
    &.bg-purple {
        .hover-card {
            .btn {
                border-color: $purple;

                &:hover {
                    border-color: $green;
                }
            }
        }
    }
}

//Large card block
.large-card-block {
    padding: 110px 0;
    .section-title {
        font-weight: 600;
        margin-bottom: 30px;
    }

    .large-card-image {
        height: 345px;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .large-card-content {
        padding: 32px 15%;
        background-color: $white;
        .large-card-title {
            font-size: 25px;
            line-height: 33px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            font-weight: 600;
        }

        .btn {
            margin-top: 20px;
            font-size: 15px;
            line-height: 15px;
            letter-spacing: normal;
            padding: 8px 15px; 
            font-weight: 400;
        }
    }

    &.bg-white {
        .large-card-content {
            background-color: $gray;
        }
    }

    &.bg-purple {
        .large-card-content {
            .btn {
                border-color: $purple;

                &:hover {
                    border-color: $green;
                }
            }
        }
    }
}

//faq-block
.faq-block {
    padding: 115px 0 150px 0;
    .section-title {
        margin-bottom: 88px;
    }

    .accordion {
        padding: 0 25px;
        .accordion-item {
            @include borderRadius(0);
            border: none;
            .accordion-header {
                position: relative;
                .accordion-button {
                    background-color: $white;
                    border-bottom: 2px solid $purple;
                    cursor: pointer;
                    padding: 29px 0;
                    .faq-title {
                        color: $purple;
                        font-size: 18px;
                        font-weight: 700;
                    }

                    &::before {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        right: 0;
                        content: "";
                        background-image: url(../inc/assets/minus-icon.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        opacity: 0;
                        transform: rotate(0deg);
                       
                    }

                    &::after {
                        width: 20px;
                        height: 20px;
                        content: "";
                        background-image: url(../inc/assets/plus-icon.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        transform: rotate(450deg);
                       
                    }

                    &:not(.collapsed) {
                            border-bottom: 2px solid $green;
                            .faq-title {
                                color: $green;
                            }

                            &::after {
                                background-image: url(../inc/assets/plus-icon.svg);
                                opacity: 0;
                                transform: rotate(90deg);
                            }

                            &::before {
                                background-image: url(../inc/assets/minus-icon.svg);
                                opacity: 1;
                                transform: rotate(180deg);
                            }
                        }
                }
            }

            .accordion-collapse {
                .accordion-body {
                    padding: 40px 0 56px 0;

                    p {
                        text-align: left;
                        margin-bottom: 16px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    ul {
                        text-align: left;
                        margin: 0;
                        padding-left: 40px;
                    }
                }
            }
        }
    }
}

//Latest news block
.latest-news-block {
    padding: 75px 0;
    .latest-news-image {
        height: 380px;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .latest-news-content-box {
        padding: 25px 0;
        .latest-news-title {
            font-size: 25px;
            line-height: 33px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 23px;
            font-weight: 600;
            min-height: 95px;
        }

        .btn {
            margin-top: 15px;
            font-size: 15px;
            line-height: 15px;
            letter-spacing: normal;
            padding: 8px 18px; 
            font-weight: 400;
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}

//Office locations block
.office-locations-block {
    padding: 50px 0 30px;
    .section-title {
        font-weight: 400;
        margin-bottom: 48px;
    }

    .location-card {
        margin-bottom: 20px;
        .location-card-content {
            padding: 20px;
            background-color: $gray;
            .card-title {
                font-size: 24px;
                line-height: 32px;
                font-weight: 400;
                margin-bottom: 20px;
            }
    
            .email {
                font-weight: 700;
                a {
                    font-size: 15px;
                    color: $green;
                    text-decoration: underline;
                    letter-spacing: normal;
    
                    &:hover {
                        color: $purple;
                    }
                }
            }
    
            .phone-number {
                font-weight: 700;
                margin-bottom: 16px;
                a {
                    font-size: 15px;
                    color: $green;
                    text-decoration: underline;
                    letter-spacing: normal;
    
                    &:hover {
                        color: $purple;
                    }
                }
            }
        }
    }

    &.bg-grey {
        .location-card {
            .location-card-content {
                background-color: $white;
            }
        }
    }

    &.bg-purple {
        .section-title {
            color: $white;
        }

        .btn {
            &:hover {
                background-color: transparent;
                border-color: transparent;
            }
        }
    }
}

//Our team block
.our-team-block {
    padding: 125px 0 80px;
    background-color: $gray;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        background-color: $purple;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
    }

    .container {
        position: relative;
    }

    .section-title {
        color: $green;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    p {
        color: $white;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        width: 94%;
        margin-bottom: 80px;
    }

    .cat-filter {
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $green;
        margin-top: 5px;
        margin-bottom: 25px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;

        .our-team-cat-list {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }

                &.btn {
                    &.btn-link {
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .our-team-wrapper {
        padding-left: 50px;
        padding-right: 20px;
        .our-team-box {
            cursor: pointer;
            margin-bottom: 20px;
            .our-team-conent-box {
                background-color: $white;
                padding: 23px;
                .our-team-title {
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 700;
                    margin-bottom: 8px;
                }
    
                .role {
                    color: $green;
                    font-size: 12px;
                    line-height: 12px;
                    font-weight: 700;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    margin-bottom: 43px;
                }
    
                p {
                    color: $purple;
                    font-size: 15px;
                    line-height: 21px;
                    font-weight: 600;
                    width: 100%;
                    margin-bottom: 0;
                }
    
                a {
                    color: $green;
                    margin-top: 20px;
                    letter-spacing: normal;
                    text-decoration: underline;
                    +a {
                        margin-top: 0;
                    }
    
                    &.btn {
                        &.btn-link {
                            &:hover {
                                color: $purple;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Press releases block
.press-releases-block {
    padding: 125px 0 80px;
    background-color: $gray;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        background-color: $purple;
        position: absolute;
        top: 0;
        left: 0;
        height: 93vh;
        width: 100%;
    }

    .container {
        position: relative;
    }

    .section-title {
        color: $green;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    p {
        color: $white;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        width: 94%;
        margin-bottom: 80px;
    }

    .cat-filter {
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $green;
        margin-top: 5px;
        margin-bottom: 25px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;

        .press-release-cat-list {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }

                &.btn {
                    &.btn-link {
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .press-releases-wrapper {
        padding-left: 50px;
        padding-right: 20px;
        .row {
            .col {
                margin-bottom: 20px;
                overflow: hidden;
            }
        }
        .press-release-box {
            cursor: pointer;
            height: 100%;
            .press-release-image {
                height: 270px;
                overflow: hidden;
                img {
                    display: block;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .press-release-content {
                background-color: $white;
                padding: 35px 24px;
                height: 100%;
                .press-release-date {
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 1.1px;
                    font-weight: 600;
                    color: $green;
                    text-transform: uppercase;
                    margin-bottom: 28px;
                }

                .press-release-title {
                    a {
                        font-size: 25px;
                        line-height: 33px;
                        font-weight: 600;
                        padding: 0 15px;
                        margin-bottom: 12px;
                        color: $purple;
                        text-decoration: none ;
                    }
                }

                p {
                    color: $purple;
                    font-size: 15px;
                    line-height: 21px;
                    font-weight: 600;
                    width: 100%;
                    margin-bottom: 0;
                }

                .read-more {
                    margin-top: 48px;
                    font-size: 15px;
                    line-height: 15px;
                    letter-spacing: normal;
                    padding: 8px 20px; 
                    font-weight: 400;
                    a {
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

//Regulatory news block
.regulatory-news-block {
    padding: 125px 0 80px;
    background-color: $gray;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        background-color: $purple;
        position: absolute;
        top: 0;
        left: 0;
        height: 97vh;
        width: 100%;
    }

    .container {
        position: relative;
    }

    .section-title {
        color: $green;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    p {
        color: $white;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        width: 94%;
        margin-bottom: 80px;
    }

    .cat-filter {
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $green;
        margin-top: 5px;
        margin-bottom: 25px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;

        .regulatory-news-cat-list {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }

                &.btn {
                    &.btn-link {
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .regulatory-news-wrapper {
        padding-left: 50px;
        padding-right: 20px;
        .row {
            .col {
                margin-bottom: 20px;
            }
        }
        .regulatory-news-box {
            height: 100%;
            cursor: pointer;
            .regulatory-news-conent {
                padding: 35px 24px;
                background-color: $white;
                height: 100%;
                .regulatory-news-date {
                    font-size: 12px;
                    line-height: 15px;
                    font-weight: 600;
                    letter-spacing: 1.1px;
                    text-transform: uppercase;
                    color: $green;
                    margin-bottom: 28px;
                }

                .regulatory-news-title {
                    a {
                        font-size: 25px;
                        line-height: 33px;
                        font-weight: 600;
                        padding: 0 15px;
                        margin-bottom: 32px;
                        color: $purple;
                        text-decoration: none ;
                    }     
                }

                .btn {
                    font-size: 15px;
                    line-height: 15px;
                    letter-spacing: normal;
                    padding: 8px 20px; 
                    font-weight: 400;
                }
            }
        }
    }
}

//Resources block
.resources-block {
    padding: 125px 0 80px;
    background-color: $gray;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        background-color: $purple;
        position: absolute;
        top: 0;
        left: 0;
        height: 66vh;
        width: 100%;
    }

    .container {
        position: relative;
    }

    .section-title {
        color: $green;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    p {
        color: $white;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        width: 94%;
        margin-bottom: 80px;
    }

    .cat-filter {
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $green;
        margin-top: 5px;
        margin-bottom: 25px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;

        .resources-cat-list {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }

                &.btn {
                    &.btn-link {
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .resources-wrapper {
        padding-left: 50px;
        padding-right: 20px;
        .row {
            .col {
                margin-bottom: 20px;
            }
        }
        .resources-image {
            height: 272px;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .resources-conent {
            padding: 25px;
            background-color: $white;
            .resources-date {
                font-size: 12px;
                line-height: 15px;
                font-weight: 600;
                letter-spacing: 1.1px;
                text-transform: uppercase;
                color: $green;
                margin-bottom: 28px;
            }

            .resources-title {
                font-size: 24px;
                line-height: 32px;
                font-weight: 700;
                margin-bottom: 58px;
            }

            .popup-form {
                .btn {
                    font-size: 15px;
                    line-height: 15px;
                    letter-spacing: normal;
                    padding: 8px 20px; 
                    font-weight: 400;
                }
            }
        }
    }
}

//Time blog block
.time-blog-block {
    padding: 125px 0 80px;
    background-color: $gray;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        background-color: $purple;
        position: absolute;
        top: 0;
        left: 0;
        height: 97vh;
        width: 100%;
    }

    .container {
        position: relative;
    }

    .section-title {
        color: $green;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    p {
        color: $white;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        width: 94%;
        margin-bottom: 80px;
    }

    .cat-filter {
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $green;
        margin-top: 5px;
        margin-bottom: 25px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;

        .time-blog-cat-list {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }

                &.btn {
                    &.btn-link {
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .time-blog-wrapper {
        padding-left: 50px;
        padding-right: 20px;
        .row {
            .col {
                margin-bottom: 20px;
                overflow: hidden;
            }
        }
        .time-blog-box {
            height: 100%;
            .time-blog-image {
                height: 270px;
                overflow: hidden;
                img {
                    display: block;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            
            .time-blog-content {
                background-color: $white;
                padding: 35px 24px;
                height: 100%;
                
                .time-blog-date {
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 1.1px;
                    font-weight: 600;
                    color: $green;
                    text-transform: uppercase;
                    margin-bottom: 28px;
                }
    
                .time-blog-title {
                    a {
                        font-size: 25px;
                        line-height: 33px;
                        font-weight: 600;
                        padding: 0 15px;
                        margin-bottom: 12px;
                        color: $purple;
                        text-decoration: none;
                    }
                }
    
                p {
                    color: $purple;
                    font-size: 15px;
                    line-height: 21px;
                    font-weight: 600;
                    width: 92%;
                    margin: 0 auto;
                }
    
                .read-more {
                    margin-top: 48px;
                    a {
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}