//Homepage hero

//Left right content image
.left-right-content-image {
    padding: 60px 0px;
    ul {
        margin: 0;
        font-size: 16px;
        line-height: 24px;
    }
    .btn {
        margin-top: 15px;
    }
}