/*================ Modules ================*/
/*================ Font Variables ================*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900;1000&display=swap");
@use "sass:map";
/*** mixins.scss ***/
/*================ Components ================*/
/*================ Global ================*/
html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  box-sizing: border-box;
  color: #3d1050;
  counter-reset: my-sec-counter; }

a,
.link {
  color: #00a98f;
  display: inline-block;
  outline: none;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  a:focus,
  .link:focus {
    outline: none; }
  a:hover,
  .link:hover {
    color: #3d1050; }

.container, .container-xl {
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 1400px) {
    .container, .container-xl {
      max-width: 1200px; } }

.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row > * {
    padding-left: 10px;
    padding-right: 10px; }

p {
  margin-bottom: 24px; }
  p:last-of-type {
    margin-bottom: 0; }
  p:empty {
    display: none; }
  p a {
    display: inline; }

img {
  max-width: 100%;
  height: auto; }

.bg-white {
  background-color: #fff; }
  .bg-white .btn-green {
    background-color: #00a98f;
    border-color: #00a98f; }
    .bg-white .btn-green:hover {
      background-color: transparent;
      color: #3d1050;
      border-color: #3d1050; }

.bg-grey {
  background-color: #F5F3F6 !important; }

.bg-purple {
  background-color: #3d1050 !important; }
  .bg-purple .btn {
    background-color: #fff;
    border-color: #fff;
    color: #3d1050; }
    .bg-purple .btn:hover {
      background-color: #00a98f;
      color: #fff;
      border-color: #00a98f; }

button.mfp-close {
  width: 35px;
  height: 35px;
  font-size: 35px;
  opacity: 1; }

.glide .glide__bullets {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  margin: 30px 0; }
  .glide .glide__bullets .glide__bullet {
    border: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%; }
    .glide .glide__bullets .glide__bullet.glide__bullet--active {
      background-color: #080808; }
  .glide .glide__bullets .glide__arrow {
    background: transparent url(../inc/assets/down-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px; }
    .glide .glide__bullets .glide__arrow.glide__arrow--left {
      left: 0;
      transform: translateY(-50%) rotate(90deg); }
    .glide .glide__bullets .glide__arrow.glide__arrow--right {
      right: 0;
      transform: translateY(-50%) rotate(-90deg); }

.btn {
  border: 2px solid #3d1050;
  background-color: #3d1050;
  color: #fff;
  display: inline-block !important;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.3px;
  padding: 12px 32px;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: initial;
  transition: all 0.3s linear !important;
  -moz-transition: all 0.3s linear !important;
  -webkit-transition: all 0.2s linear !important;
  -o-transition: all 0.3s linear !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px; }
  .btn:hover {
    background-color: #00a98f;
    border-color: #00a98f;
    color: #fff; }
  .btn:focus {
    box-shadow: none; }
  .btn.btn-secondary {
    background-color: transparent;
    border-color: #3d1050;
    color: #3d1050; }
    .btn.btn-secondary:hover {
      background-color: #00a98f;
      border-color: #00a98f;
      color: #fff; }
  .btn.btn-link {
    background-color: transparent;
    color: #121212;
    border: none;
    padding: 0; }
    .btn.btn-link:hover {
      color: #121212;
      text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6,
.h-1,
.h-2,
.h-3,
.h-4,
.h-5,
.h-6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 15px; }

h1,
.h-1 {
  font-size: 28px;
  line-height: 34px; }

h2,
.h-2 {
  font-size: 55px;
  line-height: 63px; }

h3,
.h-3 {
  font-size: 40px;
  line-height: 50px; }

h4,
.h-4 {
  font-size: 25px;
  line-height: 33px; }

h5,
.h-5 {
  font-size: 20px;
  line-height: 24px; }

h6,
.h-6 {
  font-size: 18px;
  line-height: 24px; }

/*================ Layouts ================*/
body {
  padding-top: 125px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.1); }
  @media (max-width: 991px) {
    header .container {
      padding: 0; } }
  @media (max-width: 575px) {
    header .container .row {
      margin: 0; } }
  @media (max-width: 991px) {
    header .main-logo {
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    header .main-logo {
      margin-bottom: 0; } }
  header .main-logo img {
    width: auto;
    height: 67px; }
    @media (max-width: 575px) {
      header .main-logo img {
        height: 30px; } }
  header .header-btn .search-icon {
    width: 18px;
    margin-left: 20px; }
  header .header-btn .btn {
    padding: 7px 24px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    margin-left: 10px; }
  header nav.navbar {
    padding: 0; }
    @media (min-width: 768px) {
      header nav.navbar .navbar-nav {
        flex-direction: row; } }
    header nav.navbar .navbar-nav > .menu-item {
      margin-right: 6px;
      position: relative; }
      @media (max-width: 767px) {
        header nav.navbar .navbar-nav > .menu-item {
          margin: 0;
          border-bottom: 1px solid #fff; } }
      header nav.navbar .navbar-nav > .menu-item:last-child {
        margin: 0; }
        @media (max-width: 767px) {
          header nav.navbar .navbar-nav > .menu-item:last-child {
            border: none; } }
      header nav.navbar .navbar-nav > .menu-item > a {
        color: #3d1050;
        font-size: 15px;
        line-height: 25px;
        font-weight: 600;
        padding: 50px 10px;
        text-decoration: none; }
      header nav.navbar .navbar-nav > .menu-item:hover .mega-menu-wrapper {
        opacity: 1;
        visibility: visible; }
    header nav.navbar .navbar-nav .mega-menu-wrapper {
      display: none; }
  header .navbar-toggler {
    width: 26px;
    height: 30px;
    padding: 0;
    position: absolute;
    top: 26px;
    left: 35px;
    display: inline-flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    @media (max-width: 575px) {
      header .navbar-toggler {
        left: 20px; } }
    header .navbar-toggler:hover, header .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
      border: none;
      background: transparent; }
    header .navbar-toggler .navbar-toggler-line {
      width: 100%;
      height: 5px;
      background-color: #080808;
      position: relative;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      header .navbar-toggler .navbar-toggler-line:before, header .navbar-toggler .navbar-toggler-line:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #080808;
        position: absolute;
        left: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
      header .navbar-toggler .navbar-toggler-line:before {
        top: -10px; }
      header .navbar-toggler .navbar-toggler-line:after {
        top: 10px; }
    header .navbar-toggler:not(.collapsed) .navbar-toggler-line {
      background-color: transparent; }
      header .navbar-toggler:not(.collapsed) .navbar-toggler-line:before {
        top: 0;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      header .navbar-toggler:not(.collapsed) .navbar-toggler-line:after {
        top: 0;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  @media (max-width: 767px) {
    header .navbar-collapse {
      position: absolute;
      padding: 0 15px;
      top: 83px;
      left: 0;
      width: 60%;
      z-index: 9;
      height: calc(100vh - 83px);
      overflow-y: auto;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      transition: 0.5s; } }
  @media (max-width: 575px) {
    header .navbar-collapse {
      width: 70%;
      top: 80px;
      height: calc(100vh - 80px); } }
  @media (max-width: 767px) {
    header .navbar-collapse.collapse:not(.show) {
      display: block;
      left: -100%; } }
  header .header-center {
    padding: 70px 0;
    border-top: 1px solid #eeeeee; }

.inner-page-hero {
  overflow: hidden;
  background-size: auto 125%;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  height: 550px;
  z-index: 0; }
  .inner-page-hero .section-left-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }
  .inner-page-hero .container, .inner-page-hero .row {
    position: relative;
    height: 100%; }
  .inner-page-hero .section-title {
    color: #fff;
    font-weight: 800;
    margin-bottom: 33px; }
  .inner-page-hero p {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 35%; }
  .inner-page-hero .btn-link {
    margin-top: 15px;
    background-color: transparent;
    color: #fff; }
    .inner-page-hero .btn-link:hover {
      color: #fff;
      text-decoration: underline; }

.inner-page-hero-small {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 450px;
  z-index: 0; }
  .inner-page-hero-small .container, .inner-page-hero-small .row {
    position: relative;
    height: 100%; }
  .inner-page-hero-small .bg-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #4AA690;
    opacity: 0.3; }
  .inner-page-hero-small .section-title {
    font-weight: 800;
    color: #fff; }
  .inner-page-hero-small.standard-background .btn-link {
    background-color: transparent;
    color: #fff; }
    .inner-page-hero-small.standard-background .btn-link:hover {
      color: #fff;
      text-decoration: underline; }

.left-right-content-image {
  padding: 60px 0px; }
  .left-right-content-image .image-box {
    padding-left: 40px;
    padding-right: 0px; }
  .left-right-content-image .content {
    padding-left: 7.33%;
    padding-right: 40px; }
    .left-right-content-image .content .section-title {
      margin-bottom: 25px; }
    .left-right-content-image .content ul {
      margin: 0;
      padding-left: 40px;
      width: 82%;
      font-size: 16px;
      line-height: 24px; }
    .left-right-content-image .content .btn {
      margin-top: 25px; }
  .left-right-content-image .flex-sm-row-reverse .image-box {
    padding-left: 0px;
    padding-right: 40px; }
  .left-right-content-image .flex-sm-row-reverse .content {
    padding-left: 10.5%;
    padding-right: 7.33%; }

.trustpilot-block .content {
  padding: 0 35px; }
  .trustpilot-block .content .section-title {
    color: #00a98f;
    font-weight: 600;
    margin-bottom: 35px; }
  .trustpilot-block .content p {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700; }

.trustpilot-block.bg-purple p {
  color: #fff; }

.featured-content-image {
  padding: 150px 0 270px 0; }
  .featured-content-image .content {
    padding-left: 10.5%; }
    .featured-content-image .content .section-title {
      font-weight: 600;
      color: #00a98f;
      margin-bottom: 40px; }
    .featured-content-image .content p {
      font-size: 40px;
      line-height: 50px;
      font-weight: 700;
      width: 87%; }
    .featured-content-image .content .btn {
      margin-top: 30px; }
  .featured-content-image .image-box {
    padding: 0; }
    .featured-content-image .image-box .featured-image-content {
      margin-left: 0;
      margin-right: -8vw; }
  .featured-content-image .flex-sm-row-reverse .image-box .featured-image-content {
    margin-left: -8vw;
    margin-right: 0; }
  .featured-content-image.bg-purple p {
    color: #fff; }

.usp-block {
  padding: 113px 0; }
  .usp-block .container {
    padding: 0 75px; }
    .usp-block .container .section-title {
      color: #fff;
      line-height: 30px;
      margin-bottom: 80px; }
    .usp-block .container img {
      width: auto;
      height: 179px;
      margin-bottom: 30px; }
    .usp-block .container p {
      color: #fff;
      line-height: 21px;
      font-weight: 600;
      width: 91%;
      margin: 0 auto; }
    .usp-block .container.bg-white .section-title, .usp-block .container.bg-grey .section-title {
      color: #00a98f; }
    .usp-block .container.bg-white p, .usp-block .container.bg-grey p {
      color: #00a98f; }

.image-bulletpoint-groups {
  padding: 140px 0;
  background-color: #F5F3F6; }
  .image-bulletpoint-groups .container {
    padding-left: 0; }
    .image-bulletpoint-groups .container .image-box {
      padding: 0; }
      .image-bulletpoint-groups .container .image-box img {
        height: 100%; }
    .image-bulletpoint-groups .container .content-box {
      padding: 90px 7.3% 55px;
      background-color: #fff; }
      .image-bulletpoint-groups .container .content-box p {
        color: #00a98f;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 1.1px;
        line-height: 24px;
        width: 90%; }
      .image-bulletpoint-groups .container .content-box .bulletpoint-group {
        margin-top: 60px;
        border-bottom: 1px solid #f0f0f0; }
        .image-bulletpoint-groups .container .content-box .bulletpoint-group .section-title {
          font-weight: 600; }
        .image-bulletpoint-groups .container .content-box .bulletpoint-group .bulletpoints {
          padding: 0 15px 35px;
          margin: 0;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          -webkit-box-pack: justify;
          -moz-box-pack: justify;
          -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between; }
          .image-bulletpoint-groups .container .content-box .bulletpoint-group .bulletpoints li {
            font-size: 16px;
            line-height: 28px;
            font-weight: 600;
            width: 45%;
            margin-left: 10px; }

.video-block {
  padding: 110px 0; }
  .video-block .section-title {
    margin-bottom: 35px; }
  .video-block .youtube-video iframe {
    width: 100%;
    height: 500px; }
  .video-block video {
    width: 100%;
    height: 100%; }

.centred-content-image-gallery {
  padding: 80px 0; }
  .centred-content-image-gallery .section-title {
    color: #00a98f;
    margin-top: 25px;
    margin-bottom: 20px; }
  .centred-content-image-gallery p {
    font-size: 16px;
    line-height: 23px;
    font-weight: 600;
    margin-bottom: 60px; }
  .centred-content-image-gallery .logo {
    margin: 38px auto; }

.cta-block .container {
  padding: 0 20px; }
  .cta-block .container .image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 74px 80px 85px 80px; }
  .cta-block .container .section-title {
    font-weight: 600;
    margin-bottom: 60px; }
  .cta-block .container .subtitle {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #fff; }
  .cta-block .container .btn {
    display: table !important;
    margin-top: 75px; }
    .cta-block .container .btn:hover {
      background-color: #fff;
      border-color: #fff;
      color: #3d1050; }

.card-block {
  padding: 110px 0 160px 0; }
  .card-block .container {
    padding: 0 20px; }
    .card-block .container .section-title {
      margin-bottom: 25px; }
    .card-block .container .card-box {
      position: relative; }
      .card-block .container .card-box .card-image {
        height: 345px;
        overflow: hidden; }
        .card-block .container .card-box .card-image img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .card-block .container .card-box:hover .hover-card {
        max-height: 300px; }
        .card-block .container .card-box:hover .hover-card p {
          opacity: 1;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
        .card-block .container .card-box:hover .hover-card .btn {
          opacity: 1;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
      .card-block .container .card-box .hover-card {
        padding: 32px;
        background-color: #fff;
        position: absolute;
        bottom: -85px;
        overflow: hidden;
        max-height: 85px;
        transition: max-height 0.6s; }
        .card-block .container .card-box .hover-card .card-title {
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 0; }
        .card-block .container .card-box .hover-card p {
          min-height: 70px;
          margin-top: 15px;
          opacity: 0;
          -webkit-transform: translateY(30px);
          -moz-transform: translateY(30px);
          -ms-transform: translateY(30px);
          transform: translateY(30px);
          -webkit-transition: 0.8s;
          -moz-transition: 0.8s;
          -ms-transition: 0.8s;
          transition: 0.8s;
          transition-delay: 0.3s; }
        .card-block .container .card-box .hover-card .btn {
          margin-top: 20px;
          opacity: 0;
          -webkit-transform: translateY(40px);
          -moz-transform: translateY(40px);
          -ms-transform: translateY(40px);
          transform: translateY(40px);
          transition: 0.8s !important;
          transition-delay: 0.4s !important; }
  .card-block.bg-white .hover-card {
    background-color: #F5F3F6 !important; }
  .card-block.bg-purple .hover-card .btn {
    border-color: #3d1050; }
    .card-block.bg-purple .hover-card .btn:hover {
      border-color: #00a98f; }

.large-card-block {
  padding: 110px 0; }
  .large-card-block .section-title {
    font-weight: 600;
    margin-bottom: 30px; }
  .large-card-block .large-card-image {
    height: 345px;
    overflow: hidden; }
    .large-card-block .large-card-image img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .large-card-block .large-card-content {
    padding: 32px 15%;
    background-color: #fff; }
    .large-card-block .large-card-content .large-card-title {
      font-size: 25px;
      line-height: 33px;
      font-weight: 600;
      margin-bottom: 10px; }
    .large-card-block .large-card-content p {
      font-weight: 600; }
    .large-card-block .large-card-content .btn {
      margin-top: 20px; }
  .large-card-block.bg-white .large-card-content {
    background-color: #F5F3F6; }
  .large-card-block.bg-purple .large-card-content .btn {
    border-color: #3d1050; }
    .large-card-block.bg-purple .large-card-content .btn:hover {
      border-color: #00a98f; }

.faq-block {
  padding: 115px 0 150px 0; }
  .faq-block .section-title {
    margin-bottom: 88px; }
  .faq-block .accordion {
    padding: 0 25px; }
    .faq-block .accordion .accordion-item {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      border: none; }
      .faq-block .accordion .accordion-item .accordion-header .accordion-button {
        background-color: #fff;
        border-bottom: 2px solid #3d1050;
        cursor: pointer;
        padding: 29px 0; }
        .faq-block .accordion .accordion-item .accordion-header .accordion-button .faq-title {
          color: #3d1050;
          font-size: 18px;
          font-weight: 700; }
        .faq-block .accordion .accordion-item .accordion-header .accordion-button::after {
          flex-shrink: 0;
          width: 1.25rem;
          height: 1.25rem;
          margin-left: auto;
          content: "";
          background-image: url();
          background-repeat: no-repeat;
          transition: transform .2s ease-in-out; }
        .faq-block .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
          border-bottom: 2px solid #00a98f; }
          .faq-block .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) .faq-title {
            color: #00a98f; }
      .faq-block .accordion .accordion-item .accordion-collapse .accordion-body {
        padding: 40px 0 56px 0; }
        .faq-block .accordion .accordion-item .accordion-collapse .accordion-body p {
          text-align: left;
          margin-bottom: 16px; }
          .faq-block .accordion .accordion-item .accordion-collapse .accordion-body p:last-child {
            margin-bottom: 0; }
        .faq-block .accordion .accordion-item .accordion-collapse .accordion-body ul {
          text-align: left;
          margin: 0;
          padding-left: 40px; }

footer {
  background-color: #3d1050;
  color: #fff;
  padding: 87px 0; }
  footer .row + .row {
    margin-top: 50px; }
  footer .footer-title {
    color: #00a98f;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400; }
  footer .footer-link {
    color: #fff;
    font-size: 25px;
    line-height: 33px;
    text-decoration: none;
    margin-bottom: 70px; }
  footer .btn.btn-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 15px;
    width: 66.66%;
    text-align: left;
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    footer .btn.btn-link::before {
      content: '';
      height: 1px;
      background-color: #fff;
      position: absolute;
      width: 40px;
      top: 50%;
      right: 3px;
      opacity: .5;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    footer .btn.btn-link::after {
      content: '';
      height: 8px;
      width: 8px;
      position: absolute;
      right: 3px;
      top: 50%;
      opacity: .5;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: translateY(-50%) rotate(-45deg);
      transform: translateY(-50%) rotate(-45deg); }
    footer .btn.btn-link:hover {
      color: #fff;
      text-decoration: none; }
  footer .footer-menu-first .menu {
    list-style: none;
    padding: 0;
    display: block;
    column-count: 2; }
    footer .footer-menu-first .menu li {
      margin-bottom: 10px; }
      footer .footer-menu-first .menu li a {
        border-bottom: 1px solid transparent;
        color: #fff;
        font-size: 15px;
        line-height: 15px;
        font-weight: 600;
        padding: 5px 0 4px;
        text-decoration: none;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out; }
        footer .footer-menu-first .menu li a:hover {
          border-color: rgba(255, 255, 255, 0.75); }
  footer .footer-logo .logo {
    width: auto;
    max-height: 67px; }
  footer .footer-address p {
    line-height: 20px; }
  footer .footer-social {
    margin-top: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    footer .footer-social a img {
      max-height: 17px;
      margin-right: 16px; }
  footer .footer-privacy {
    opacity: 0.5; }
    footer .footer-privacy p {
      line-height: 20px;
      margin-bottom: 23px; }
    footer .footer-privacy ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      footer .footer-privacy ul li {
        margin-bottom: 2px; }
        footer .footer-privacy ul li a {
          color: #fff;
          text-decoration: none; }
