/*================ Modules ================*/
/*================ Font Variables ================*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900;1000&display=swap");
@use "sass:map";
/*** mixins.scss ***/
/*================ Components ================*/
/*================ Global ================*/
html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  box-sizing: border-box;
  color: #3d1050;
  counter-reset: my-sec-counter; }

a,
.link {
  color: #00a98f;
  display: inline-block;
  outline: none;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  a:focus,
  .link:focus {
    outline: none; }
  a:hover,
  .link:hover {
    color: #3d1050; }

.container, .container-xl {
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 1400px) {
    .container, .container-xl {
      max-width: 1200px; } }

.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row > * {
    padding-left: 10px;
    padding-right: 10px; }

p {
  margin-bottom: 16px; }
  p:last-of-type {
    margin-bottom: 0; }
  p:empty {
    display: none; }
  p a {
    display: inline; }

img {
  max-width: 100%;
  height: auto; }

.bg-white {
  background-color: #fff; }

button.mfp-close {
  width: 35px;
  height: 35px;
  font-size: 35px;
  opacity: 1; }

.glide .glide__bullets {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  margin: 30px 0; }
  .glide .glide__bullets .glide__bullet {
    border: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%; }
    .glide .glide__bullets .glide__bullet.glide__bullet--active {
      background-color: #080808; }
  .glide .glide__bullets .glide__arrow {
    background: transparent url(../inc/assets/down-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px; }
    .glide .glide__bullets .glide__arrow.glide__arrow--left {
      left: 0;
      transform: translateY(-50%) rotate(90deg); }
    .glide .glide__bullets .glide__arrow.glide__arrow--right {
      right: 0;
      transform: translateY(-50%) rotate(-90deg); }

.btn {
  border: 2px solid #3d1050;
  background-color: #3d1050;
  color: #fff;
  display: inline-block !important;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.3px;
  padding: 12px 32px;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: initial;
  transition: all 0.3s linear !important;
  -moz-transition: all 0.3s linear !important;
  -webkit-transition: all 0.2s linear !important;
  -o-transition: all 0.3s linear !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px; }
  .btn:hover {
    background-color: #00a98f;
    border-color: #00a98f;
    color: #fff; }
  .btn:focus {
    box-shadow: none; }
  .btn.btn-secondary {
    background-color: transparent;
    color: #3d1050; }
    .btn.btn-secondary:hover {
      background-color: #00a98f;
      border-color: #00a98f;
      color: #fff; }
  .btn.btn-link {
    background-color: transparent;
    color: #121212;
    border: none;
    padding: 0; }
    .btn.btn-link:hover {
      color: #121212;
      text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6,
.h-1,
.h-2,
.h-3,
.h-4,
.h-5,
.h-6 {
  margin-bottom: 15px;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 0.01em; }

h1,
.h-1 {
  font-size: 28px;
  line-height: 34px; }

h2,
.h-2 {
  font-size: 24px;
  line-height: 32px; }
  @media (max-width: 767px) {
    h2,
    .h-2 {
      font-size: 22px;
      line-height: 32px; } }

h3,
.h-3 {
  font-size: 22px;
  line-height: 32px; }

h4,
.h-4 {
  font-size: 18px;
  line-height: 22px; }

/*================ Layouts ================*/
body {
  padding-top: 125px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.1); }
  @media (max-width: 991px) {
    header .container {
      padding: 0; } }
  @media (max-width: 575px) {
    header .container .row {
      margin: 0; } }
  @media (max-width: 991px) {
    header .main-logo {
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    header .main-logo {
      margin-bottom: 0; } }
  header .main-logo img {
    width: auto;
    height: 67px; }
    @media (max-width: 575px) {
      header .main-logo img {
        height: 30px; } }
  header .header-btn .search-icon {
    width: 18px;
    margin-left: 20px; }
  header .header-btn .btn {
    padding: 7px 24px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    margin-left: 10px; }
  header nav.navbar {
    padding: 0; }
    @media (min-width: 768px) {
      header nav.navbar .navbar-nav {
        flex-direction: row; } }
    header nav.navbar .navbar-nav > .menu-item {
      margin-right: 6px;
      position: relative; }
      @media (max-width: 767px) {
        header nav.navbar .navbar-nav > .menu-item {
          margin: 0;
          border-bottom: 1px solid #fff; } }
      header nav.navbar .navbar-nav > .menu-item:last-child {
        margin: 0; }
        @media (max-width: 767px) {
          header nav.navbar .navbar-nav > .menu-item:last-child {
            border: none; } }
      header nav.navbar .navbar-nav > .menu-item > a {
        color: #3d1050;
        font-size: 15px;
        line-height: 25px;
        font-weight: 600;
        padding: 50px 10px;
        text-decoration: none; }
      header nav.navbar .navbar-nav > .menu-item:hover .mega-menu-wrapper {
        opacity: 1;
        visibility: visible; }
    header nav.navbar .navbar-nav .mega-menu-wrapper {
      display: none; }
  header .navbar-toggler {
    width: 26px;
    height: 30px;
    padding: 0;
    position: absolute;
    top: 26px;
    left: 35px;
    display: inline-flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    @media (max-width: 575px) {
      header .navbar-toggler {
        left: 20px; } }
    header .navbar-toggler:hover, header .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
      border: none;
      background: transparent; }
    header .navbar-toggler .navbar-toggler-line {
      width: 100%;
      height: 5px;
      background-color: #080808;
      position: relative;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      header .navbar-toggler .navbar-toggler-line:before, header .navbar-toggler .navbar-toggler-line:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #080808;
        position: absolute;
        left: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
      header .navbar-toggler .navbar-toggler-line:before {
        top: -10px; }
      header .navbar-toggler .navbar-toggler-line:after {
        top: 10px; }
    header .navbar-toggler:not(.collapsed) .navbar-toggler-line {
      background-color: transparent; }
      header .navbar-toggler:not(.collapsed) .navbar-toggler-line:before {
        top: 0;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      header .navbar-toggler:not(.collapsed) .navbar-toggler-line:after {
        top: 0;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  @media (max-width: 767px) {
    header .navbar-collapse {
      position: absolute;
      padding: 0 15px;
      top: 83px;
      left: 0;
      width: 60%;
      z-index: 9;
      height: calc(100vh - 83px);
      overflow-y: auto;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      transition: 0.5s; } }
  @media (max-width: 575px) {
    header .navbar-collapse {
      width: 70%;
      top: 80px;
      height: calc(100vh - 80px); } }
  @media (max-width: 767px) {
    header .navbar-collapse.collapse:not(.show) {
      display: block;
      left: -100%; } }
  header .header-center {
    padding: 70px 0;
    border-top: 1px solid #eeeeee; }
